.contact{
.contact-us {
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    
    }
    .box{
    &:hover{
        background-color: rgba(16, 37, 66, 1);
        color: #fff;
        cursor: pointer;
    }
    }
.hero-inner{
position: relative;
top: 50%;
transform: translateY(-50%);
max-width: 610px;
margin: 0 auto;
.search-icon {
position: relative;
top: 50%;
transform: translateY(-50%);
position: absolute;
left: 15px;
z-index: 1;
width: 18px;
height: 18px;
color: #777;
}
    input[type="search"]{
        width: 100%;
        padding: 10px;
        border-radius: 30px;
        border: solid 1px;
        padding-left: 30px;
        :focus{
            outline: 0;
        }
    }
}
}