.footer {
    .footer-top {
        h5 {
            // color: $indigo;
            color: #fff;
        }
        .fst-col {
            p {
                // color:#b7bcc8;
                color: #fff;
            }
        }
        .footer-link {
            li {
                a {
                    // color:#b7bcc8;
                    color: #fff;
                }
            }
        }
    }
}