.collection-shop-section{
   .product{ 
       .product_box{
       background: #fff;
        padding:0px; 
        -webkit-transition: -webkit-transform .25s ease;
        transition: -webkit-transform .25s ease;
        transition: transform .25s ease;
        transition: transform .25s ease,-webkit-transform .25s ease;
        margin-bottom: 20px;
        border-radius: 5px;
        .product_img_box{
            position:relative;
            overflow: hidden;
            margin-bottom:15px;
            &:before{
                content:'';
                padding-top:100%;
                display:block;
            }
            .second-image{
               opacity: 0;
               z-index: -1;
            }
            img{
                position: absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                margin:auto;
                width:100%;
                object-fit: cover;
                object-position: center;
                transition: opacity .8s ease;
            }
        }
        .product_content_box{
            padding: 0px 10px 20px 10px;
            .price_line{
                color: #fe5f55;
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 0px;
                span{
                    color: #636471;
                     font-size: 14px;
                }
                .discount_txt{
                    color: #fe5f55;
                    font-weight: 400;
                    font-size:12px;
                }
            }
            .prod_name{
                font-size: 18px;
                font-weight: 500;
                color: #000;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;  
                margin-bottom:15px;         
            }
        }
        &:hover{
            transform: scale(1.02);
            box-shadow: 0 5px 15px rgba(0,0,0,.3);
            .product_img_box{
            .second-image{
              opacity: 1;
              z-index: 1;
            }

            }
        }
    }
}
.btn-show-more{
    font-size: 32px;
    line-height: 32px;
}
.collection-sort__input{
    padding: 14px;
    padding-right: 28px;
    padding-left: 18px;
    font-size: 14px;
    font-weight: 500;
    color: #102542;
    border: none;
    border-radius: 3px;

}
}