<div class="container">
    {% comment %} <div class="col-xl-8 col-lg-10 col-md-11  col-12 py-5 m-auto"> {% endcomment %}
      {% comment %} <div class="title content-title mb-4 pt-3">
        <h1 class="text-center title">{{ page.title }}</h1>
      </div> {% endcomment %}
      <div class="contect">
        {{ page.content }}
      </div>
  
</div>