{% comment %} <a href="/" class="navbar-brand mr-7 d-none d-md-block" name="{{ shop.name | escape }}"
    title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
    {% if settings.main_svg_logo != blank %}
    <img src="{{ settings.main_svg_logo }}" class="img-fluid" alt="{{ shop.name | escape }}"
        style="width: {{ logo_width }}px" />
    {% elsif logo contains 'no-image' %}
    <span class="h5 text-primary"><i class="icon ion-pound text-primary"></i> {{ shop.name | escape }}</span>
    {% else %}
    <img src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid" style="width: {{ logo_width }}px">
    {% endif %}
</a> {% endcomment %}
<nav class="main-header">
    <div class="container desktop-menu">
        <div class="row align-items-center">
            <div class="col-7 pr-0 d-xl-none d-lg-none d-flex justify-content-between">
                <button class="toggle-btn"><i class="fa fa-bars"></i></button>
                {% if section.settings.logo_img != blank %}
                <div class="img-div ">
                    <a href="{{ shop.url }}"><img class="logo-img" src="{{ section.settings.logo_img | img_url:'original' }}" alt=""></a>
                </div>
                {% endif %}
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 d-none d-md-none d-lg-block d-xl-block">
                 {% if section.settings.logo_img != blank %}
                <div class="img-div">
                    <a href="{{ shop.url }}"><img class="logo-img" src="{{ section.settings.logo_img | img_url:'original' }}" alt=""></a>
                </div>
                {% endif %} 
            </div>
            {% assign val_nav = 0 %}
            <div class="col-8 d-xl-block d-lg-block d-none ">
                <div class="main-menu">
                    <ul class="menu-ul list-unstyled mb-0">
                        {% for link in linklists[section.settings.main_linklist].links %}
                            {% assign child_list_handle = link.title | handleize %}
                            {% if menus[child_list_handle].links != blank %}
                            <li class="nav-menu-li {% if link.active %}active{% endif %}">
                                <a href="{{ link.url }}"
                                    class="nav-link d-flex align-items-center justify-content-between {{ link.handle }}"
                                    title="{{ link.title }}">
                                    <span>{{ link.title }}</span> <i class="icon ion-md-arrow-dropdown ml-1"></i>
                                    </a>
                                
                                {%- for block in section.blocks -%}
                                {%- if block.settings.menu_handle == link.title -%}
                                {% assign val_nav = 1 %}
                            {% else %}
                            {% assign val_nav = 0 %}
                            {% endif %}
                            {% endfor %}
                            
                            {% if val_nav == 1 %}
                            <div class="megamenu">
                                <div class="container">
                                    <div class="row m-md-0">
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="category-ul-div">
                                                <ul class="d-block categori-ul list-unstyled mb-0"
                                                    id="category" role="tablist">
                                                    {% for link in menus[child_list_handle].links %}
                                                    {% assign colHandle = link.url | replace: '/collections/', '' %}
                                                    {% assign collection = collections[colHandle] %}
                                                    <li class="">
                                                        <a class="menmenu-tab-controller"
                                                            id="{{ collection.handle }}-tab"
                                                            data-href="{{ collection.url }}"
                                                            href="#{{ collection.handle }}" role="tab"
                                                            aria-controls="{{ collection.handle }}"
                                                            aria-selected="true">
                                                            <div class="cate-content">
                                                                <h6 class="mb-0">{{ link.title }}</h6>
                                                            </div>
                                                        </a>
                                                        {% if link.links != blank %}
                                                        <ul class="list-unstyled" style="backround-color:#000;display:inline;">
                                                        {% for grandchild in link.links %}
                                                        <li>
                                                        <a href="{{ grandchild.url }}" class="site-nav__link" style="padding-left:0 !important;">
                                                            {{ grandchild.title }}
                                                        </a>
                                                        </li>
                                                        {% endfor %}
                                                        </ul>  
                                                        {% endif%}
                                                    </li>
                                                    {% endfor %}
                                                    <li class="d-flex">
                                                        {%- for block in section.blocks -%}
                                                            {%- if block.settings.menu_handle == link.title -%}
                                                            <div class="mr-4">
                                                                <div class="mega-img">
                                                                <img src="{{block.settings.image-menu | img_url: 'medium'}}" alt="#" />
                                                                </div>
                                                                <p class="font-weight-bold"><b>{{block.settings.text_title}}</b></p>
                                                            </div>    
                                                            
                                                            {%- endif -%}
                                                        {%- endfor -%}
                                                    </li>
                                                </ul>
                                                <!-- <div class="btn-div mt-2">
                                                    <a class="outline-btn py-2 px-3 text-center"
                                                        href="/collections/all">Shop All</a>
                                                </div> -->
                                            </div>
                                        </div>

                                        {% comment %} <div class="col-xl-9 col-lg-9 pr-0 sub-cate-div tab-content megamenu-tabs">
                                            {% for link in menus[child_list_handle].links %}
                                            {% assign colHandle = link.url | replace: '/collections/', '' %}
                                            {% assign collection = collections[colHandle] %}
                                            {% if collection.title != blank %}
                                            <div class="tab-pane" id="{{ collection.handle }}" role="tabpanel"
                                                aria-labelledby="{{ collection.handle }}">
                                                <div class="row align-items-center">
                                                    <div class="col-xl-11 col-lg-11 m-auto sub-cate-main-div p-0">
                                                        <div class="row sub-cate-ul mb-0">
                                                            {% for product in collection.products limit: 5 %}
                                                            <div class="col-4 text-center sub-cate-div">
                                                                <a href="{{ product.url | within: collection }}">
                                                                    <div class="sub-cat-img">
                                                                        <img src="{{ product.featured_image | img_url:'150x' }}"
                                                                            atl="{{ product.title }}">
                                                                    </div>
                                                                    <div class="sub-cat-content">
                                                                        <p class="mb-0">{{ product.title }}</p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                        {% comment %} <div class="btn-div mt-2">
                                                            <a class="outline-btn py-2 px-3 text-center"
                                                                href="#">Shop All</a>
                                                        </div> {% endcomment %}
                                                    </div>
                                                    {% comment %}
                                                    <div class="col-xl-5 col-lg-5 sub-cate-img-div">
                                                        <a href="{{ collection.url }}">
                                                            <img class="cate-img"
                                                                src="{{ collection.handle | append: '.png' | file_url }}"
                                                                alt="{{ collection.title }}"
                                                                onerror="this.style.display='none';">
                                                        </a>
                                                    </div>
                                                    {% endcomment %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                             {% else %}
                             <div class="d-down">
                                    <ul class="list-unstyled">
                                    {% for link in menus[child_list_handle].links %}
                                    <li><a href="{{ link.url }}">{{link.title}}</a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            </li>
                            {% else %}
                            <li class="nav-menu-li {% if link.active %}active{% endif %}">
                                <a class="nav-link {{ link.handle }}" href="{{ link.url }}" name="{{ link.title }}"
                                    title="{{ link.title }}" aria-label="{{ link.title }}">
                                    {{ link.title }}
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                    </ul>
                </div>
            </div>
            {% if section.settings.enable_right_menu %}
            <div class="col-lg-2 col-5 text-right pl-0">
                <div class="right-menu">
                    <ul class="ul-right-menu list-unstyled mb-0">
                        {% if section.settings.search_bar %}
                        <li>
                            {% if section.settings.image_search_option != 'svg' %}
                                <img class="img_search" src="{{ section.settings.search_img | img_url:'original' }}" alt="">
                            {% else %}
                                {{ section.settings.search_svg  }}
                            {% endif %}
                        </li>
                        {% endif %}
                        {% if section.settings.account_bar %}
                        <li>
                            <a href="/account">
                            {% if section.settings.image_account_option != 'svg' %}
                                <img class="img_account" src="{{ section.settings.account_img | img_url:'original' }}" alt="">
                            {% else %}
                                {{ section.settings.account_svg  }}
                            {% endif %}
                            </a>
                        </li>
                        {% endif %}
                        {% if section.settings.cart_bar %}
                        <li>
                            <a href="#" data-target-element="offcanvas-right" data-offcanvas-src="#offcanvas-right" class="c-header__link c-header__link--cart js-cartCanvas">
                            {% if section.settings.image_cart_option != 'svg' %}
                                <img class="img_cart" src="{{ section.settings.cart_img | img_url:'original' }}" alt="">
                            {% else %}
                                {{ section.settings.cart_svg  }}
                            {% endif %}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="mobile-menu">
        <div class="mobile-menu-head">
            <p class="mb-0 close-btn">&times;</p>
        </div>
        <div class="mobile-menu-div">
            <ul class="list-unstyled mb-0">
                {% for link in linklists[section.settings.main_linklist].links %}
                    <li><a class="text-uppercase" href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>