.acc {
    .lgn {
        padding: 50px;
        background: #ffffff;
        ;
    }

    .labelWidth {
        width: 160px;
        text-align: left;
        background-color: #fff;
        border-left: 0;
        border-top: 0;
        border-bottom: 0;
        font-family: Roboto, proxima-nova, sans-serif;
        font-size: 15px;
        line-height: 19px;
        padding-top: 6px;
        vertical-align: top
    }

    h4 {
        span {
            display: block;
            font-size: 11px;
            border-bottom: 2px #b4b4b4 solid;
        }
    }
.subscribe-email{
    font-size: 12px;
    text-align: left;
}
    h1 {
        font-size: 40px;
        color: #000;
        font-weight: 500;
        text-align: left;

        .fa-user-circle-o {
            color: gray;
        }

    }

    .form-control {
        font-size: 14px;
        color: #636471;
        background-color: #ebeff7;
        -webkit-box-shadow: 0 2px 8px 0 rgba(19, 33, 66, .1);
        box-shadow: 0 2px 8px 0 rgba(19, 33, 66, .1);
        border-bottom: 3px solid #aaabbc;
        width: 100%;
        height: 45px;
        padding-top: 24px;
        padding-left: 12px;
        position: relative;
        border-radius: 3px;
        font-family: Roboto;
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &:focus {
            box-shadow: none;
        }

    }

    .fp {
        text-align: left;
        font-weight: 600;
    }

    .banner-btn {
        background: #fe5f55;
        color: #fff;
        width: 100%;
        border: 0;
        padding: 10px 0;
        border-radius: 3px;

        &:hover {
            border: 0;
        }
    }

    .social-login-item {
        img {
            width: 120px;
        }
    }

    .cnl {
        background-color: transparent;
        color: #bf7e2e;
        border: 0;
    }
}

.contact-form {
    p {
        font-size: 14px;
    }
}

@media only screen and (max-width:480px) {
    .acc {
        h1 {
            font-size: 30px;
        }
    }
}