.addresses {
    h3 {
        color: $mossgreen;
        font-weight: 500;
        font-family: "Calibre Medium";
    }
    .badge-warning {
        color: white !important;
        background-color: $indigo !important;
    }
    .form-control {
        outline: none;
        color: $black;
        margin-bottom: 15px;
        border-radius: 0;
        padding: 20px;
        &:focus {
            border: 1px solid #ced4da;
            box-shadow: none;
        }
    }
    .select-control {
        height: inherit;
        padding-top: 9px;
        padding-bottom: 9px;
    }
    input[type=checkbox] {
        position: relative;
        cursor: pointer;
    }
    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        border: 2px solid grey;
        border-radius: 3px;
        background-color: $white;
    }
    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 10px;
        border: solid $indigo;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 2px;
        left: 6px;
    }
    .card {
        .card-header {
            font-family: "Calibre Regular";
            color: $clovergreen;
            font-weight: 500;
            background-color: #F5F5F5;
        }
        background-color: #F5F5F5;
        color: $black !important;
        .card-link {
            &:hover {
                color: $mossgreen !important;
            }
        }
    }
    .list-group-item {
        background: #FDF1DE !important;
        color: $black !important;
        &:hover {
            color: $mossgreen !important;
        }
    }
    .frm-btn {
        border: 2px solid $mossgreen;
        background: $mossgreen;
        padding: 10px 30px;
        color: #fff;
        font-weight: 600;
        &:hover {
            background-color: $white;
            color: $indigo;
        }
        &:focus {
            box-shadow: none;
        }
    }
    .cnl {
        background-color: transparent;
        color: $black;
        border: 0;
        &:focus {
            box-shadow: none;
        }
    }
    .card-link {
        color: $black !important;
    }
}

@media only screen and (max-width:480px) {
    .addresses {
        .card-body {
            .form-group {
                margin-bottom: 0;
                input[type=text] {
                    width: 100%;
                    margin-bottom: 15px !important;
                    margin-top: 0 !important;
                }
                textarea {
                    width: 100%;
                    margin-bottom: 15px !important;
                    margin-top: 0 !important;
                }
                select {
                    width: 100%;
                    margin-bottom: 15px !important;
                    margin-top: 0 !important;
                }
                input[type=tel] {
                    width: 100%;
                    margin-bottom: 15px !important;
                    margin-top: 0 !important;
                }
            }
        }
    }
}