.order-history {
    h3 {
        font-family: "Calibre Medium";
        color: $mossgreen;
        font-weight: 500;
    }
    .table {
        white-space: nowrap;
        tr:last-child {
            td {
                border-bottom: 1px solid #dee2e6;
            }
        }
    }
    a {
        color: $clovergreen !important;
    }
    .list-group-item {
        background: #FDF1DE !important;
        color: $black !important;
    }
    .list-group-item,
    a {
        &:hover {
            color: $mossgreen !important;
        }
    }
    .alert {
        background: #FDF1DE;
        color: $clovergreen !important;
    }
}