.footer {
    background: $indigo;
    border-top: 1px solid rgba(#b7bcc8, 0.1);
    .footer-top{
        padding-bottom:40px;
        .main_content_box{
            h4{
                color:#fff;
                font-size:19px;
                text-transform:uppercase;
            }
            .footer_menu{
                list-style:none;
                padding-left:0;
                li{
                    a{
                        color:#aaabbc;
                        font-size:15px;
                    }
                }
            }
            .footer_menu_div{
                p{
                    color:#aaabbc;
                    font-size:15px;
                    margin-bottom:0;
                    line-height:35px;
                }
            }
        }
        .newsletter_div{
            .inpt_div{
                position:relative;
                input{
                    background-color: #ebeff7;
                    color: #0c243e;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0;
                    border: 0;
                    padding:10px 15px;
                    padding-right: 120px;
                    border-radius: 5px;
                    height:58px;
                    width:100%;
                    outline:none;
                }
                .submittt_btn{
                    background:$red;
                    padding:8px 20px;
                    color:#fff;
                    font-size:15px;
                    border-radius:5px;
                    position:absolute;
                    right:15px;
                    top:11px;
                    border:none;
                }
            }
        }
        .payment_div{
            margin-top:30px;
            .payment_ul{
                list-style: none;
                padding-left:0;
                display:flex;
                flex-wrap:wrap;
                justify-content: space-between;
                li{
                    width:calc( 100% / 6 - 12px );
                    img{
                        width:100%;
                    }
                }
            }
        }
        .social_main_div{
            margin-top:30px;
            .social_div{
                text-align: right;
                .social_ul{
                    list-style: none;
                    padding-left:0;
                    li{
                        display: inline-block;
                        a{
                            display:block;
                            color: #aaabbc;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            line-height: 40px;
                            background-color: #32455c;
                            margin-left: 12px;
                            border-radius: 5px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .footer-btm {
        border-top: 1px solid rgba(#b7bcc8, 0.1);
        p {
            font-size:13px;
            color: #aaabbc;
            a {
                color: #aaabbc;
            }
        }
    }
}

// @media only screen and (max-width: 767px) {
    
// }

// @media only screen and (max-width: 480px) {
    
// }