.is-sticky {
    .header {
        box-shadow: 0px 0px 10px rgba($indigo, 0.5);
    }
}

.header {
    z-index: 9998 !important;

    .annucement-bar {
        padding: 11px;
        background: $black;

        p {
            font-size: 11px;
        }
    }

    .main-header {
        background-color: $indigo !important;

        .desktop-menu {
            .toggle-btn {
                background: none;
                border: 1px solid $red;
                color: $white;
                padding: 3px 10px;
                font-size: 20px;
                border-radius: 5px;
                outline: none;
            }

            .img-div {
                .logo-img {
                    width: 85%;
                }
            }

            .right-menu {
                .ul-right-menu {
                    li {
                        display: inline-block;
                        padding: 0px 10px;

                        &:last-child {
                            padding-right: 0;
                        }

                        a {
                            font-size: 25px;
                            color: #ffff;

                            &:hover {
                                color: $red;
                            }
                        }

                        svg {
                            width: 25px;
                            height: 25px;
                            fill: #fff !important;
                        }
                    }
                }
            }

            .main-menu {
                .menu-ul {
                    li {
                        display: inline-block;

                        &:last-child {
                            margin-right: 0;
                            margin-left: 5px;
                        }

                        a {
                            font-size: 15px;
                            font-weight: 500;
                            text-transform: uppercase;
                            padding: 30px 8px;
                            color: $white;
                            display: block;

                        }

                        &:hover {
                            a {
                                color: $red;
                            }
                        }
                        .d-down {
                            display: none;
                            position: absolute;
                            padding: 10px;
                            z-index: 999;
                            background-color: white;
                            top: 50px;
                            text-align: left;
                            width: 15%;
                            transition: opacity 0.25s ease 0.1s;
                            box-shadow: 5px 5px 14px 0 rgba(0, 0, 0, 0.5);
                            li {
                                padding: 5px;
                                &:hover {
                                    a {
                                        color: $indigo;
                                    }
                                }
                                a {
                                    padding: unset;
                                }
                            }
                        }
                        .megamenu {
                            position: absolute;
                            width: 100%;
                            background: #fff;
                            top: 100%;
                            left: 0;
                            right: 0;
                            z-index: 99;
                            padding: 15px;
                            display: none;
                            transition: opacity 0.25s ease 0.1s;
                            box-shadow: 5px 15px 12px -14px rgba(0, 0, 0, 0.5);

                            .category-ul-div {
                                .categori-ul {
                                    li {
                                        display: block;
                                    }

                                    .menmenu-tab-controller {
                                        .cate-content {
                                            p {
                                                color: $indigo;
                                                font-weight: bolder;
                                                font-size: 11px;
                                            }
                                        }
                                    }

                                    .mega-img {
                                        position: relative;
                                        overflow: hidden;
                                        margin: auto;
                                        padding-bottom: 140%;
                                        width: 150px;

                                        img {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            right: 0;
                                            bottom: 0;
                                            object-fit: cover;
                                            object-position: center;
                                            margin: auto;
                                            width: 100%;
                                        }
                                    }

                                    li {
                                        position: relative;
                                        overflow: hidden;

                                        a {
                                            padding: 10px 0px;
                                            display: flex;
                                            align-items: center;
                                            color: $black; // height: 70px;

                                            .img-cate {
                                                position: relative;
                                                width: 50px;
                                                height: 50px;
                                                border-radius: 50%;
                                                margin-right: 20px;

                                                img {
                                                    width: 100%;
                                                    height: 100%;
                                                    border-radius: 50%;
                                                }
                                            }

                                            &:hover {
                                                // background: rgba($indigo, 0.1);
                                                color: $indigo;
                                            }
                                        }

                                        // .active {
                                        //   // background: rgba($indigo, 0.1) !important;
                                        //   background-color: #f9f5ef;
                                        // }
                                        &:last-child {
                                            border-bottom: none;
                                        }
                                    }
                                }

                                .btn-div {
                                    .outline-btn {
                                        width: 100%;
                                        display: block;
                                        color: $indigo !important;

                                        &:hover {
                                            color: $white !important;
                                        }
                                    }
                                }
                            }

                            .sub-cate-div {
                                .sub-cate-main-div {
                                    .sub-cate-ul {
                                        width: 80%;
                                        margin: auto;

                                        .sub-cate-div {
                                            padding: 0px 30px;
                                            margin-bottom: 20px;

                                            a {
                                                display: block;
                                                padding: 0;

                                                .sub-cat-img {
                                                    width: 100%;
                                                    position: relative;
                                                    margin-bottom: 10px;
                                                    overflow: hidden;

                                                    &:before {
                                                        content: "";
                                                        position: relative;
                                                        padding-top: 100%;
                                                        height: 100%;
                                                        width: 100%;
                                                        display: block;
                                                    }

                                                    img {
                                                        width: 100%;
                                                        position: absolute;
                                                        top: 0;
                                                        right: 0;
                                                        left: 0;
                                                        bottom: 0;
                                                        margin: auto;
                                                        object-fit: cover;
                                                        object-position: center;
                                                    }
                                                }

                                                .sub-cat-content {
                                                    p {
                                                        font-size: 12px;
                                                        height: 36px;
                                                        overflow: hidden;
                                                        color: $black;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .sub-cate-img-div {
                                    .cate-img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }

                        &:hover {
                            .megamenu {
                                display: block;
                            }

                            .d-down {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    // a {
    //     color: $black;
    // }
}

.mobile-menu {
    display: block !important;
    position: fixed;
    margin: 0;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    z-index: 10000;
    transition: all ease-in-out 0.5s;
    left: -100%;
    box-shadow: 0px 0px 10px 5px rgba($black, .3);

    .mobile-menu-head {
        p {
            padding: 10px 15px 0px;
            font-size: 32px;
            line-height: 32px;
            font-weight: 600;
            text-align: right;
            margin-left: auto;
            width: max-content;
            cursor: pointer;
        }
    }

    .mobile-menu-div {
        ul {
            li {
                padding: 10px 15px;
                border-bottom: 1px solid rgba($indigo, .1);

                a {
                    display: block;
                    font-weight: 500;
                }
            }
        }
    }
}


// @media only screen and (min-width: 992px) and (max-width:1199px){
// }
@media only screen and (max-width: 991px) and (min-width:768px) {
    .header {
        .main-header {
            .desktop-menu {
                padding: 15px;

                .img-div {
                    text-align: center;

                    .logo-img {
                        width: 48%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .header {
        .main-header {
            .desktop-menu {
                padding: 15px;

                .toggle-btn {
                    font-size: 17px;
                }

                .img-div {
                    text-align: center;

                    .logo-img {
                        width: 75%;
                    }
                }

                .right-menu {
                    .ul-right-menu {
                        li {
                            display: inline-block;
                            padding: 0px 7px;

                            &:last-child {
                                padding-right: 0;
                            }

                            a {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .header {
        .annucement-bar {
            p {
                font-size: 9px;
            }
        }

        .img-div {
            .logo-img {
                width: 85%;
            }
        }
    }
}