body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    .button-all {
        background: $indigo;
        cursor: pointer;
        border: 2px solid $indigo;
        padding: 10px 30px;
        color: $white;
        text-transform: uppercase;
        outline: none;
        font-weight: 500;
        border-radius: 30px;
        display: block;
        width: max-content;
        &:hover {
            background: $orange;
            color: $black !important;
            text-decoration: none;
            border: 2px solid $orange;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    .banner-btn {
        &:hover {
            background: #252932;
            color: $white !important;
            border: 2px solid #252932;
        }
    }
    .banner-btn-2 {
        background: $black;
        border: 2px solid $black;
        &:hover {
            background: $indigo;
            color: $black !important;
            border: 2px solid $indigo;
        }
    }
     ::selection {
        background: rgba($indigo, .7);
        color: $white;
    }
    .badges-img {
        width: 70%;
    }
    .title-div{
        &:hover{
            h4{
                color:#f33 !important;
            }
        }
    }
}

.template-product {
    .video-section {
        padding-bottom: 50px;
    }
    .instfeed {
        padding-bottom: 0 !important;
    }
}
.slick-slider{
.slick-prev{
        height: 150px;
        width: 55px;
        background: #ebeff7;
        z-index:99;
        opacity:1;
        left:-40px;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 5px 0 10px 0 rgba(12,36,62,.2);
    &:before{
        content: '\f104';
        font-family: FontAwesome;
        color:#102542;
        font-size: 40px;
    }
    &:focus{
        background: #ebeff7;
    }
    &:hover{
        background: #ebeff7;
    }
}
.slick-next{
    height: 150px;
    width: 55px;
    cursor: pointer;
    background: #ebeff7;
    opacity: 1;
    right:-40px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: -5px 0 10px 0 rgba(12,36,62,.2);
    &:before{
        content: '\f105';
        font-family: FontAwesome;
        color:#102542;
        font-size: 40px;
    }
    &:focus{
        background: #ebeff7;
    }
    &:hover{
        background: #ebeff7;
    }
}
}
@media only screen and (min-width:768px) and (max-width:992px) {
    .container {
        max-width: 100%;
    }
    h1,
    .h1 {
        font-size: 3rem;
    }
    h3,
    .h3 {
        font-size: 2rem;
    }
    h5,
    .h5 {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        max-width: 100%;
        .banner-btn {
            margin: auto;
        }
    }
    body {
        .badges-img {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 480px) {
    h3,
    .h3 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 375px) {
    body {
        font-size: 14px;
        h1,
        .h1 {
            font-size: 3rem;
        }
        h3,
        .h3 {
            font-size: 18px;
        }
        h5,
        .h5 {
            font-size: 1.1rem;
        }
        .banner-btn {
            margin-bottom: 20px;
            // margin-right: 0 !important;
        }
    }
}