.banner-section {
    .banner-div {
        min-height: 380px;
        position: relative;
        display: flex;
        align-items: center;
        img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            object-fit: cover;
            object-position: left;
            max-width: 100%;
            height: 100%;
            width: 100%;
        }
        .banner-content {
            padding-left: 50px;
            position:relative;
            .banner-btn{
                margin:auto;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .banner-section {
        .banner-div {
            display: block;
            overflow-x: hidden;
            img {
                position: relative;
                object-fit: unset;
                object-position: unset;
                max-width: 153%;
                height: unset;
            }
            .container {
                padding: 30px 15px;
            }
            .banner-content {
                padding-left: 0px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .banner-section {
        .banner-div {
            img {
                max-width: 153%;
                height: 100%;
                min-height: 200px;
            }
        }
    }
}

@media only screen and (max-width: 380px) {
    .banner-section {
        .banner-div {
            img {
                max-width: 153%;
                height: 100%;
                min-height: 150px;
            }
        }
    }
}