.customer_photo{
    padding:10px 0;
    .container{
        background:#fbfcff;
        padding:40px;
    }
    .customer_slider_index{
        // display:flex !important;
        // flex-wrap:wrap;
        // justify-content: space-between;
        .customer_box{
            padding:0 15px;
            position:relative;
            width:100% !important;
            .customer_img_box{
                position:relative;
                overflow: hidden;
                margin-bottom:15px;
                &::before{
                    content:'';
                    padding-top:100%;
                    display:block;
                }
                img{
                    position: absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    margin:auto;
                    width:100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius:5px;
                }
            }
            .customer_content_box{
                position: absolute;
                bottom: 20px;
                left: 30px;
                .custo_name{
                    font-size: 16px;
                    color: #fff;
                    font-weight: 400;
                    margin-bottom:0;
                }
                .like_number{
                    color: #fff;
                    font-size: 14px;
                    margin-bottom:0;
                }
            }
        }
    }
}