.prod_collection{
    padding:10px 0;
    .container{
        background:#fbfcff;
        padding:40px;
    }
    .product_slider_index{
        display:flex !important;
        flex-wrap:wrap;
        justify-content: space-between;
        .product_box{
            padding:0 15px; 
            -webkit-transition: -webkit-transform .25s ease;
            transition: -webkit-transform .25s ease;
            transition: transform .25s ease;
            transition: transform .25s ease,-webkit-transform .25s ease;
            .product_img_box{
                position:relative;
                overflow: hidden;
                margin-bottom:15px;
                &:before{
                    content:'';
                    padding-top:100%;
                    display:block;
                }
                img{
                    position: absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    margin:auto;
                    width:100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius:3px;
                }
            }
            .product_content_box{
                .price_line{
                    color: #fe5f55;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom:5px;
                    span{
                        color: #636471;
                    }
                    .discount_txt{
                        color: #fe5f55;
                        font-weight: 400;
                        font-size:16px;
                    }
                }
                .prod_name{
                    font-size: 18px;
                    font-weight: 400;
                    color: #636471;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-bottom:5px;
                   

                }
            }
            &:hover{
                transform: scale(1.02);

            }
        }
        .show_more{
            .product_img_box{
                border:1px solid #aaabbc;
                border-radius:3px;
                .prod_name{
                    color: #636471;
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom:0;
                    text-align: center;
                    position: absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}