.shop_style {
    padding:10px 0;
    .container{
        background:#fbfcff;
        padding:40px;
    }
    .style_box_main{
        // display:flex;
        // flex-wrap:wrap;
        // justify-content:space-between;
        .style_box{
            // width:calc( 100% / 6 - 15px );
            margin-bottom:30px;
            .img_box_style{
                position:relative;
                overflow:hidden;
                margin-bottom:15px;
                &:before{
                    content:'';
                    padding-top:121%;
                    display:block;
                }
                img{
                    position:absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;
                    margin:auto;
                    width:100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            h5{
                font-size:19px;
                margin-bottom:0;
            }
        }
    }
}