.shop_size {
    padding:10px 0;
    .container{
        background:#fbfcff;
        padding:40px;
    }
    .size_box_main{
        .size_box{
            box-shadow: -1px -1px 20px -5px #d4d4d4;
            background:#fff;
            margin-bottom: 30px;
            a{
                cursor: pointer;
                padding:40px 10px;
                display:block;
                text-align: center;
                h5{
                    font-size:19px;
                }
            }
        }
        .show_all{
            background:#DDDEE9;
        }
    }
}