.small_banner{
    margin:10px 0;
    height:144px;
    overflow: hidden;
    position: relative;  
     border-radius: 10px;
    a{    
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    width:100%;
    display: block;
    img{
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        margin:auto;
        width:100%;
        object-fit: cover;
        object-position: center;
    }

}
}

//last banner
.last_banner{
    margin:10px 0;
    margin-bottom:20px;
    height:300px;
    overflow: hidden;
    position: relative;
    a{    
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        margin:auto;
        width:100%;
        display: block;
    img{
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        margin:auto;
        width:100%;
        object-fit: cover;
        object-position: center;
    }
}
}

@media only screen and (max-width: 767px) {

    .small_banner{

        height:70px;
        a{
            img{
                width:120%;
            }
        }
    }
//     .last_banner{  
//           height: 200px;
// a{
//     img{
//         width: 160%;
//     }
// }


//     }
}