.support-section {
    background: #fff;
    .support-box{
        display:flex;
        justify-content: space-between;
        width:300px;
        margin:30px auto;
        align-items:center;
        .img_box_support{
            width:50px;
            img{
                width:100%;
            }
        }
        .support_box_content{
            width:calc( 100% - 80px );
            h6{
                font-size:18px;
                color:#3b3b3b;
            }
            p{
                font-size:14px;
            }
        }
    }
}



// @media only screen and (max-width: 480px) {
   
// }