.testimonials {
    padding-top:20px;
    padding-bottom:10px;
    .container{
        background:#fbfcff;
        padding:40px;
    }    
    .customer_slider{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        .div_customer_box{
            display:flex !important;
            flex-wrap:wrap;
            justify-content: center;
            width:calc( 100% - 15px ) !important;
            box-shadow: -1px -1px 20px -5px #d4d4d4;
            background-color: #fff;
            .customer_img_box{
                width:40%;
                position:relative;
                overflow: hidden;
                &:before{
                    content:'';
                    padding-top:100%;
                    display:block;
                }
                img{
                    position:absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    width:100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .custo_content_box{
                width:60%;
                padding:5px 15px; 
                .rating_div{
                    color:#fe5f55;
                    font-size:18px;
                }
                h6{
                    height:34px;
                    font-size:15px;
                    display: flex;
                    align-items: center;
                    margin-bottom:0;
                }
                p{
                    margin-bottom:0;
                    font-size:13px;
                    padding:5px 0;
                }
                .review_txt_p{
                    height:67px;
                    overflow: hidden;
                }
                .cus_name{
                    font-weight:500;
                    padding:0;
                }
            }
        }
    }
}