.product-detail-section {
    .m-inherit {
        margin: inherit;
    }
    .form-group {
        flex-wrap: wrap;
    }
    .img_box_support {
        img {
            width: 50px;
        }
    }

    .slick-slider .slick-next {
        right: 0 !important;
    }

    .btn_rev {
        color: #fff;
        background-color: #102542;
        padding: 0 20px;
        cursor: pointer;
    }

    .icon_cart {
        box-shadow: 0 3px 12px 0 rgba(19, 33, 66, .15);
        cursor: pointer;
    }

    .sticky_po {
        position: sticky;
        top: 90px;
        padding: 0;
    }

    padding-top: 30px;

    .bredcume-ul {
        margin-bottom: 30px;

        li {
            display: inline-block;
            position: relative;

            &:not(:last-child) {
                margin-right: 19px;

                &::before {
                    content: "/";
                    position: absolute;
                    top: 0;
                    right: -14px;
                    color: $indigo;
                    font-size: 12px;
                }
            }

            a {
                display: block;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }

    .product-nav {
        .pro-nav-ul {
            .slick-list {
                padding: 0px !important;
            }

            li {
                margin-bottom: 5px !important;

                a {
                    img {
                        width: 100%;
                        height: auto;
                        border: 2px solid;
                        border-color: #fff;
                        opacity: .3;
                    }
                }
            }

            .slick-current {
                img {
                    border-color: $indigo;
                    opacity: 1;
                }
            }
        }
    }

    .product-detail-content {
        .product-head {

            // h5{
            //     // color: $clovergreen;
            //     // font-weight: 400;
            // }
            p {
                // color: $indigo;
                margin-bottom: 5px;
            }

            .price-text {
                display: flex;
                align-items: center;

                small {
                    font-size: 16px;
                }

                .price {
                    font-size: 27px;
                    font-weight: 400;
                    color: #fe5f55;
                    margin-left: 5px;
                }

                .review-pro {
                    .star-icon {
                        color: $indigo;
                    }
                }
            }

            border-bottom:1px solid rgba($purple, .1);
        }

        .product-info {
            label {
                font-weight: 500;
            }
        }

        .product-qty {
            label {
                color: $clovergreen;
                font-weight: 400;
                font-family: "Calibre Regular";
            }

            .pro-qty-div {
                display: flex;
                align-items: center;

                .qty-btn {
                    border: 2px solid $mossgreen;
                    background: none;
                    height: 45px;
                    width: 40px;
                    font-size: 20px;
                    font-weight: 400;
                    color: $mossgreen;
                    outline: none;
                }

                .minus-btn {
                    border-right: none;
                }

                .plus-btn {
                    border-left: none;
                }

                .qty-input {
                    border: 2px solid $mossgreen;
                    border-left: none;
                    border-right: none;
                    background: none;
                    height: 45px;
                    width: 50px;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 45px;
                    color: $indigo;
                    outline: none;
                }
            }

            .pro-add-btn {
                display: flex;

                .btn-all {
                    background: #fe5f55;
                    color: $white;
                    padding: 10px 20px;
                    width: 100%;
                    font-weight: 400;
                    outline: none;
                    border: 2px solid #fe5f55;
                    height: 45px;


                }

                // .add-cart {
                //     width: 25%;
                //     font-size: 18px;
                //     background: #252932;
                //     border: 2px solid #252932;
                //     margin-right: 10px;
                //     &:hover {
                //         background: $indigo;
                //         border: 2px solid $indigo;
                //     }
                // }
            }
        }

        .payment-option {
            label {
                color: $clovergreen;
                font-weight: 500;
            }

            .payment-ul {
                li {
                    display: inline-block;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }

                    a {
                        display: block;
                        font-size: 35px;
                        color: $clovergreen !important;
                    }

                    &:hover {
                        a {
                            color: $purple !important;
                        }
                    }
                }
            }
        }

        .product-description {
            h6 {
                color: $clovergreen;
                font-weight: 400;
                font-size: 18px;
                font-family: "Calibre Regular";
            }
        }
    }
}

.product-info {
    h4 {
        padding: 10px 0;
        border-bottom: 1px solid rgba($purple, 0.2);
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:767px) {
    .product-detail-section .sticky_po {
        position: unset;
    }
}

@media only screen and (max-width:480px) {
    .product-detail-section {
        .product-detail-content {
            .product-head {
                .price-text {
                    .price {
                        font-size: 20px;
                    }
                }
            }

            .product-qty {
                .pro-add-btn {
                    .btn-all {
                        padding: 8px 9px;
                        width: 50%;
                    }
                }
            }
        }
    }
}