<div class="container">
  <div class="row py-3">
    <div class="col-xl-6 col-lg-6 col-md-8 col-12 m-auto">
      <div class="text-center acc">
        <h4 class="py-4 text-left">New Costomer<span>(Enter your contact information)</span></h4>
        {% form 'create_customer' %}
        {{ form.errors | default_errors }}
        <div class="form-group">
        <div class="d-flex mb-3">
        <span class="labelWidth">FirstName</span>
          <input type="text" class="form-control" name="customer[first_name]" id="FirstName"
            placeholder="{{ 'customer.register.first_name' | t }}" autofocus
            {% if form.first_name %}value="{{ form.first_name }}" {% endif %}>
        </div>

         <div class="d-flex mb-3">
          <span class="labelWidth">LastName</span>
          <input type="text" class="form-control" name="customer[last_name]" id="LastName"
            placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
         </div> 
         <div class="d-flex mb-3">
          <span class="labelWidth">phone</span>
          <input type="text" class="form-control" name="customer[area_code]" id="area_code"
            placeholder="Area Code" value="Area code" style="width: 30%; margin-right: 35px;">
         <input type="text" class="form-control" name="customer[phone]" id="Phone"
            placeholder="Contact Number" value="Contact Number" style="width:60%;">
         </div> 
        <div class="d-flex mb-3">
        <span class="labelWidth">Email</span>
          <input type="email" class="form-control" name="customer[email]" id="Email"
            class="{% if form.errors contains 'email' %}input-error{% endif %}"
            placeholder="{{ 'customer.register.email' | t }}" value="{% if form.email %}{{ form.email }}{% endif %}"
            spellcheck="false" autocomplete="off" autocapitalize="off">
        </div>
        <div class="d-flex mb-3">
        <span class="labelWidth">Address</span>
          <input type="text" class="form-control" name="customer[address]" id="Address"
            placeholder="Address" value="">
        </div>
        <div class="d-flex mb-3">
        <span class="labelWidth">Address Line 2</span>
          <input type="text" class="form-control" name="customer[address_2]" id="Address_line"
            placeholder="" value="">
        </div>
        <div class="d-flex mb-3">
        <span class="labelWidth">City</span>
          <input type="text" class="form-control" name="customer[city]" id="City"
            placeholder="City" value="">
        </div>
           <div class="d-flex mb-3">
        <span class="labelWidth">State/Province</span>
          <select type="text" class="form-control p-0" name="customer[state]" id="state">
            <option value=""></option> <optgroup label="United States"> <option value="AL">Alabama</option> <option value="AR">Arkansas</option> <option value="AZ">Arizona</option> <option value="CA">California</option> <option value="CO">Colorado</option> <option value="CT">Connecticut</option> <option value="DC">District of Columbia</option> <option value="DE">Delaware</option> <option value="FL">Florida</option> <option value="GA">Georgia</option> <option value="IA">Iowa</option> <option value="ID">Idaho</option> <option value="IL">Illinois</option> <option value="IN">Indiana</option> <option value="KS">Kansas</option> <option value="KY">Kentucky</option> <option value="LA">Louisiana</option> <option value="MA">Massachusetts</option> <option value="MD">Maryland</option> <option value="ME">Maine</option> <option value="MI">Michigan</option> <option value="MN">Minnesota</option> <option value="MO">Missouri</option> <option value="MS">Mississippi</option> <option value="MT">Montana</option> <option value="NC">North Carolina</option> <option value="ND">North Dakota</option> <option value="NE">Nebraska</option> <option value="NH">New Hampshire</option> <option value="NJ">New Jersey</option> <option value="NM">New Mexico</option> <option value="NV">Nevada</option> <option value="NY">New York</option> <option value="OH">Ohio</option> <option value="OK">Oklahoma</option> <option value="OR">Oregon</option> <option value="PA">Pennsylvania</option> <option value="RI">Rhode Island</option> <option value="SC">South Carolina</option> <option value="SD">South Dakota</option> <option value="TN">Tennessee</option> <option value="TX">Texas</option> <option value="UT">Utah</option> <option value="VA">Virginia</option> <option value="VI">Virgin Islands</option> <option value="VT">Vermont</option> <option value="WA">Washington</option> <option value="WI">Wisconsin</option> <option value="WV">West Virginia</option> <option value="WY">Wyoming</option> </optgroup> <optgroup label="Canada"> <option value="AB">Alberta</option> <option value="BC">British Columbia</option> <option value="MB">Manitoba</option> <option value="NB">New Brunswick</option> <option value="NL">Newfoundland and Labrador</option> <option value="NS">Nova Scotia</option> <option value="ON">Ontario</option> <option value="PE">Prince Edward Island</option> <option value="QC">Quebec</option> <option value="SK">Saskatchewan</option> </optgroup>
          </select>
        </div>
         <div class="d-flex mb-3">
        <span class="labelWidth">Zip </span>
          <input type="text" class="form-control" name="customer[zip]" id="zip"
            placeholder="zip" value="">
        </div>
        <h4 class="py-4 text-left">CREATE A PASSWORD<span></span></h4>
          <div class="d-flex mb-3">
          <span class="labelWidth">Password</span>
          <input type="password" name="customer[password]" id="CreatePassword"
            class="{% if form.errors contains 'password' %}input-error{% endif %} form-control"
            placeholder="{{ 'customer.register.password' | t }}">
          </div>
           <div class="d-flex mb-3">
          <span class="labelWidth">Confirm Password</span>
          <input type="password" name="customer[con_password]" id="ConfirmPassword"
            class="{% if form.errors contains 'password' %}input-error{% endif %} form-control"
            placeholder="Confirm">
          </div>
        <div class="d-flex mb-3">
          <span class="input-group-addon labelWidth"></span>
          <input type="checkbox" name="subscribeEmail" id="subscribe-email" checked="" value="Y">
          <label class="subscribe-email">I'd like to receive special email offers and promotions</label>
        </div>
        <div class="d-flex mb-3">
          <span class="input-group-addon labelWidth"></span>
          <label class="subscribe-email">By clicking Continue, you acknowledge you have read and agreed to our Terms of Use and Privacy Policy.</label>
        </div>
          <p>
            <input type="submit" value="continue>>" class="button-all banner-btn m-auto">
          </p>
          <a class="d-none" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
        </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>