.cart-section {
    .add_choice {
        padding-top: 30px;
        .wrap{
            flex-wrap: wrap;
        }
        .btn-all{
            background: #102542;
            padding: 10px 20px;
            margin-left: 30px;
            color: #fff;
        }
    }
    .promo {
        .title {
            color: #aaabbc;
            text-align: left;
            font-size: 12px;
            font-weight: 400;
        }
    }
    .remove-pro {
        position: absolute;
        top:0;
        right: 5px;
    }
    .promo_field{
            input{
                font-size: 14px;
                color: #636471;
                background-color: #ebeff7;
                -webkit-box-shadow: 0 2px 8px 0 rgba(19,33,66,.1);
                box-shadow: 0 2px 8px 0 rgba(19,33,66,.1);
                width: 100%;
                height: 45px;
                border-style: none;
                padding-left: 12px;
                position: relative;
                border-radius: 3px;
                padding-left: 0;
                font-family: Roboto;
                margin-bottom: 24px;
                text-align: left;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin: 0;
                border-bottom: 3px solid #aaabbc;
            }
            button{
            background-color: #102542;
            color: #fff;
            border: 0;
            border-radius: 3px;
            }
    }
    .font-size-12 {
        font-size: 12px;
    }

    padding: 30px 0;

    h4 {
        color: $clovergreen;
        font-weight: 500;
        font-family: "Calibre Regular";
    }

    h3 {
        color: $mossgreen;
        font-weight: 500;
        font-family: "Calibre Medium";
    }

    .empty-line {
        color: $clovergreen;
        font-weight: 500;
        font-family: "Calibre Regular";
    }

    .mob-title {
        display: none;
    }

    .cart-head {
        h2 {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .cart-heading {
        background: rgba($indigo, .2);
        // border-bottom: 1px solid rgba($indigo, .2);
        padding: 10px 15px;

        p {
            font-size: 15px;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .product-head {
            text-align: left;
        }

        .price-head {
            text-align: center;
        }

        .qty-head {
            text-align: center;
        }

        .total-head {
            text-align: right;
        }
    }

    .cart-items {
        padding: 20px 15px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba($indigo, .2);
        flex-wrap: wrap;

        // background: rgba($indigo, .1);
        .cart-product-div {
            display: flex;
            align-items: flex-wrap;

            .product-image-div {
                width: 100px;
                margin-right: 15px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .product-text-div {
                p {
                    color: #00c663;
                }

                .label-name {
                    margin-bottom: 0;
                    font-weight: 500;
                    color: $indigo;
                    font-size: 14px;
                }

                .pro-name {
                    margin-bottom: 0;

                    a {
                        font-size: 18px;
                        font-weight: 500;
                        margin: 5px 0;
                        display: block;
                        line-height: 22px;

                        &:hover {
                            color: $mossgreen
                        }
                    }

                }

                .remove-pro {
                    font-size: 16px;
                    color: $indigo;
                    font-weight: 600;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .cart-main-div {
            .remove-pro {
                display: none;
            }
        }

        .cart-price-div {
            p {
                text-align: center;
                font-size: 15px;
                margin-bottom: 0;
            }
        }

        .cart-qty-div {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            .minus-qty {
                height: 40px;
                width: 30px;
                background: none;
                text-align: center;
                outline: none;
                cursor: pointer;
                border: 1px solid $indigo;
                border-right: 0;
                color: $indigo;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 0;
            }

            .plus-qty {
                height: 40px;
                width: 30px;
                background: none;
                text-align: center;
                outline: none;
                cursor: pointer;
                border: 1px solid $indigo;
                border-left: 0;
                color: $indigo;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 0;
            }

            .quntity-input {
                height: 40px;
                width: 40px;
                background: none;
                text-align: center;
                outline: none;
                cursor: pointer;
                border: 1px solid $indigo;
                color: $indigo;
                border-left: 0;
                border-right: 0;
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
        
        .cart-total-div {
            p {
                text-align: right;
                font-size: 24px;
                margin-bottom: 0;
                color: #fe5f55;
                font-weight: 500;
            }
        }
    }

    .cart-subtotal-div {
        padding: 0 15px;

        .subtotal {
            color: $clovergreen;
            font-weight: 500;
            font-family: "Calibre Regular";
        }

        p {
            font-size: 20px;
            text-align: right;
            color: $black;
        }

        .charges-p,
        .free-shipping-p {
            font-size: 15px;
            color: $body-color;
        }
    }

    .btn-checkout-div {
        text-align: left;

        .outline-btn {
            border: 2px solid $indigo;
            height: 50px;
            padding: 0 30px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 17px;
            background: none;
            display: inline-block;
            line-height: 46px;
            margin-right: 15px;

            &:hover {
                color: $white;
                background: $indigo;
            }
        }

        .payment {
            .box {
                box-shadow: -1px -1px 20px -5px #d4d4d4;
                padding: 0;

                img {
                    width: 130px;
                }
            }
        }

        .checkout-btn {
            border: 2px solid $indigo;
            height: 50px;
            padding: 0 30px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 17px;
            background: $indigo;
            display: inline-block;
            line-height: 46px;
            color: $white;
            width: 100%;

            &:hover {
                background: #252932;
                border: 2px solid #252932;
            }
        }
    }

    .payment-option {
        margin-top: 25px;

        p {
            text-align: right;
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
}

// .template-cart {
//     .shipping-badges{
//         padding-bottom:50px;
//     }
// }
@media only screen and (min-width: 992px) and (max-width:1199px) {
    .cart-section {
        .cart-subtotal-div {
            padding: 0 7px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cart-section {
        .cart-head {
            .empty-line {
                font-size: 2rem;
            }
        }

        .cart-items {
            .cart-product-div {
                .product-image-div {
                    width: 130px;
                    margin-right: 15px;
                }

                .product-text-div {
                    p {
                        color: #00c663;
                    }

                    .pro-name {
                        a {
                            font-size: 15px;
                            line-height: 19px;
                        }
                    }

                    .remove-pro {
                        font-size: 14px;
                    }

                    .label-name {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .cart-section {
        .btn-shop {
            border-bottom: 1px solid rgba($indigo, .2);
        }

        .cart-head {
            .empty-line {
                font-size: 1.5rem;
            }
        }

        .cart-heading {
            padding: 10px 0px;

            .price-head {
                display: none;
            }

            .product-head {
                width: 33.33%;
                margin-left: 0;
            }

            .qty-head {
                width: 33.33%;
                margin-left: 0;
            }

            .total-head {
                width: 33.33%;
                margin-left: 0;
            }
        }

        .cart-items {
            display: block;
            padding: 15px 0;

            .cart-product-div {
                max-width: 100%;

                .product-image-div {
                    padding-left: 20px;
                    margin: auto;
                    margin-bottom: 15px;
                    margin-right: auto !important;
                }

                .product-text-div {
                    padding-left: 20px;
                }
            }

            .cart-price-div {
                margin-left: 0;
                margin-top: 20px;
                height: 40px;
                display: inline-block;
                padding-left: 0;

                p {
                    text-align: left;
                    line-height: 40px;
                    padding-left: 20px;
                }
            }

            .cart-main-div {
                margin-left: 0;
                margin-top: 20px;
                float: left;
                padding-left: 0;

                .cart-qty-div {
                    padding-left: 20px;
                    justify-content: left;
                }
            }

            .cart-total-div {
                margin-left: 0;
                text-align: right;
                margin-top: 20px;
                height: 40px;
                display: inline-block;

                p {
                    line-height: 40px;
                    padding-left: 20px;
                    text-align: right;
                }
            }
        }

        .cart-subtotal-div {
            p {
                text-align: center;
            }
        }

        .btn-checkout-div {
            text-align: center;
        }

        .payment-option {
            p {
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .cart-section {
        .btn-checkout-div {
            .outline-btn {
                display: block;
                margin: auto;
                margin-bottom: 16px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .cart-section {
        .cart-heading {
            p {
                font-size: 12px;
            }
        }

        .cart-items {
            .cart-product-div {
                .product-image-div {
                    width: 200px;
                    margin-right: 15px;
                }

                .product-text-div {
                    p {
                        color: #00c663;
                    }

                    .pro-name {
                        a {
                            font-size: 17px;
                            line-height: 19px;
                        }
                    }

                    .remove-pro {
                        font-size: 13px;
                    }

                    .label-name {
                        font-size: 15px;
                    }
                }
            }

            .cart-main-div {
                .remove-pro {
                    right: 36%;
                }
            }
        }

        .cart-subtotal-div {
            p {
                font-size: 22px;
            }
        }

        .btn-checkout-div {
            .outline-btn {
                display: block;
                margin-right: 0;
                width: max-content;
                margin: auto;
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (max-width:375px) {
    .cart-section {
        .cart-items {
            .cart-main-div {
                .remove-pro {
                    right: 31%;
                }
            }
        }
    }
}

@media only screen and (max-width:320px) {
    .cart-section {
        .cart-items {
            .cart-main-div {
                .remove-pro {
                    right: 28%;
                }
            }
        }
    }
}