{%  if section.settings.enable %}
<section class="benifits-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">

            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Blendvit Benefits",
"settings": [
    {
     "type":"checkbox",
    "id":"enable",
    "label":"Enable ?"
    }, 
    {
    "type":"text",
    "id":"title",
    "label":"Title",
    "default":"Blendvit"
    },
    {
        "type": "select",
        "id": "image_video",
        "options": [
            { "value": "image", "label": "Image"},
            { "value": "video", "label": "Video"}
            ],
       "label": "Image Or Video"
    },  
    {
    "type": "image_picker",
    "id": "image",
    "label": "Block image"
    },
      {
        "type": "url",
        "id": "url",
        "label": "Block Video"
    }
],
"blocks":[
    {
        "type": "content",
        "name": "Info Parts",
        "settings": [
            {
                "type":"text",
                "id":"head_text",
                "label":"Head Text"
            },
            {
                "type":"textarea",
                "id":"sub_description",
                "label":"Sub Description"
            }
        ]
    }
]
}
{% endschema %}