<section class="cart-section">
    <div class="container">
        {% if cart.item_count > 0 %}
        <form action="/cart" method="post" novalidate>
            <div class="row pb-2 btn-shop">
                <div class="col-12 p-0">
                   <h5 class="text-left">Your Cart ({{ cart.item_count }})</h5>
                   {% comment %} <p class="text-center">Congrats! You get free standard shipping today!</p> {% endcomment %}
                </div>
            </div>
                <div class="row cart-heading d-none">
                    <div class="col-md-5 col-4 product-head">
                        <p class=""><b>{{ 'cart.label.product' | t }}</b></p>
                    </div>
                    <div class="col-md-2 col-4 price-head">
                        <p class=""><b>{{ 'cart.label.price' | t }}</b></p>
                    </div>
                    <div class="col-md-3 col-4 qty-head">
                        <p class=""><b>{{ 'cart.label.quantity' | t }}</b></p>
                    </div>

                    <div class="col-md-2 col-4 total-head">
                        <p class=""><b>{{ 'cart.label.total' | t }}</b></p>
                    </div>
                </div>
                {% for item in cart.items %}
                <div class="row">
                    <div class="col-12 col-lg-8 col-md-12 cart-items border-0 bg-white rounded mb-auto position-relative">
                        <div class="col-xl-10 col-lg-10 col-md-5  col-12 cart-product-div pl-0">
                               <div class="product-image-div">                          
                                {% if item.image != blank %}
                                <a href="{{ item.url | within: collections.all }}">
                                    {{ item | img_url: 'original' | img_tag: item.title }}
                                </a>
                                {% endif %}
                            </div>
                            <div class="product-text-div">
                                {% comment %}
                                <p class="label-name">{{ item.vendor }}</p>
                                {% endcomment %}
                                <h5 class="pro-name"><a href="{{ item.url }}">{{ item.title }}</a></h5>
                                <p>In Stock</p>
                                <select  id="updates_{{ item.id }}" type="text" name="updates[]" value="{{ item.quantity }}" class="replace">
                                    <option value="2">1</option>
                                    {% for i in (2..10) %}
                                    <option value="{{ i | times: 2 }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <a class="remove-pro" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                            <small><i class="fa fa-times" aria-hidden="true"></i></small>
                        </a>
                         <div class="col-12 col-lg-2 col-md-2 cart-total-div">
                            <p>{{ item.line_price | money }}</p>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2  col-4 cart-price-div d-none">
                        <p>{{ item.original_price | money }}</p>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3  col-4 cart-main-div d-none ">
                            
                            <div class="cart-qty-div" data-qtyContainer>
                                <button class="minus-qty minus-btn qty-btn qty-btns" data-direction="-1">-</button>
                                <input class="quntity-input qty-input text-center" type="text" name="updates[]"
                                    id="updates_{{ item.key }}" data-qty readonly value="{{ item.quantity }}">
                                <button class="plus-qty plus-btn qty-btn qty-btns" data-direction="1">+</button>
                                <!-- <button class="minus-qty">-</button>
                                <input class="quntity-input" type="text" readonly="readonly" value="1">
                                <button class="plus-qty">+</button> -->
                            </div>
                        </div>
                        
                            <div class="col-12 col-lg-8 col-md-8 text-center add_choice ">
                            <p class="font-weight-bold">Choose Additions</p>
                            <div class="d-flex justify-content-center align-items-center wrap">
                                <img src="https://rugspromos.s3.amazonaws.com/ui/upsell-project/protection-plan-desktop-main-5years.png">
                                <div class="">
                                    <p class="font-weight-bold">Protection Plan</p> 
                                    <div class="d-flex align-items-center">
                                        <input type="radio" name="plan">
                                        <p class="m-0 pl-2">5-Year <b>$13.99</b></p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="radio" name="plan">
                                        <p class="m-0 pl-2">1-Year <b>$13.99</b></p>
                                    </div>
                                </div>
                                <a class="btn-all">Add To Cart</a>
                            </div>
                            </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3 m-auto btn-checkout-div p-3 bg-white">
                   <button type="submit" name="checkout" class="checkout-btn">{{ 'cart.general.checkout' | t }}</button>
                   <div class="d-flex justify-content-between payment pt-3">
                    <div class="col-6 box">
                        <img src="https://www.rugsusa.com/rugsusa/css/v6/images/redesign-temp/new-cart/amazonPay.png">
                    </div>
                    <div class="col-6 box">
                        <img src="https://www.rugsusa.com/rugsusa/css/v6/images/redesign-temp/new-cart/PP_logo_h_150x38.png">
                    </div>
                   </div>
                    <div class="pt-3">
                        <div class="d-flex justify-content-between">
                            <div><p><b>Subtotal</b></p></div>
                            <div><b>{{ item.original_price | money }}</b></div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div><p><b>Shhiping</b></p></div>
                            <div><b>FREE!</b></div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div><p><b>You Pay</b></p></div>
                        <div><b>{{ cart.total_price | money }}</b></div>
                    </div>
                    <div class="text-right font-weight-bold"><p class="font-size-12">Starting at $12/mo with Affirm. Learn more</p></div>
                    <hr>
                        <div class="promo">
                            <span class="title">Enter a promo code here, then click 'Apply'. Your discount will be reflected in the cart.</span>
                        </div>
                        <div class="d-flex promo_field">
                            <input type="text" name="promo" placeholder="Promo Code">
                            <button class="submit">Apply</button>
                        </div>
                        <div class="promo py-2">
                        <span class="title">Enter a gift card number here, then click 'Apply'. Your discount will be reflected in the cart.</span>
                    </div>
                    <div class="d-flex promo_field">
                        <input type="text" name="promo" placeholder="Gift Card Code">
                        <button class="submit">Apply</button>
                    </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-12 p-0 d-none">
                    <div class="row align-items-center my-4">
                        <div class="col-xl-4 col-lg-4 col-md-12 cart-subtotal-div order-xl-2 order-lg-2 order-1 mb-xl-0 mb-lg-0 mb-3 ml-xl-auto ml-lg-auto">
                            <p class="mb-0 text-black subtotal"><i><b>{{ 'cart.general.subtotal' | t }} :</b>
                                &nbsp;{{ cart.total_price | money }} EUR incl. VAT</i></p>
                            <p class="pb-2 free-shipping-p mb-0"><i>Shipping Free</i></p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-9 col-lg-9 col-md-12 btn-checkout-div order-xl-1 order-lg-1 order-2 text-xl-right text-lg-right text-md-right text-center ml-xl-auto ml-lg-auto">
                            <a class="outline-btn" href="{{ shop.url }}">Continue Shopping</a>
                            <button type="submit" class="outline-btn" name="update"> Update </button>
                            <button type="submit" name="checkout"
                                class="checkout-btn">{{ 'cart.general.checkout' | t }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% else %}
        <div class="row py-5">
            <div class="col-12 text-center pt-2">
                <div class="cart-head mb-5">
                    <h4 class="empty-line">YOUR SHOPPING CART IS EMPTY</h4>
                </div>
            </div>

            <div class="col-12  text-center">
                <div class="btn-checkout-div text-center">
                    <a class="outline-btn" href="{{ shop.url }}">Continue Shopping</a>
                </div>
                <div class="payment-option pb-2">
                    <p class="text-center">{{ 'cart.general.cookies_required' | t }}</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
</section>
