{% paginate collection.products by 12 %}
<section class="collection-shop-section my-md-4">
  <div class="container">
    <div class="row mb-5">
      <div class="col-xl-7 col-lg-7  text-left">
        <h3 class="text-uppercase mb-xl-0 mb-lg-0 mb-4 text-xl-left text-lg-left text-center">{{ collection.title }}
        </h3>
      </div>
      <div class="col-xl-5 col-lg-5 text-right">
        <div class="row">
          <div class="col-sm-6 col-12">
          </div>
          <div class="col-sm-6 col-12">
            <div class="fillter-div pr-1 bg-white">
              {% include 'sortby-collection' %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row product">
      {% for product in collection.products %}
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 text-left">
          <div class="product_box">
                <a href="{{ product.url }}">
                    <div class="product_img_box">
                        
                        <img src="{{ product.featured_image | img_url:'original' }}" alt="{{ product.title }}" class="img-fluid first-image">
                        {% if product.images.size == 1 %} 
                        <img  src="{{  product.images[0] | img_url: 'original' }}" alt="{{ product.title }}" class="img-fluid second-image">
                        {% else %}
                        <img  src="{{  product.images[1] | img_url: 'original' }}" alt="{{ product.title  }}" class="img-fluid second-image"/>
                        {% endif %}
                    </div>
                    <div class="product_content_box">
                    <p class="prod_name">{{ product.title }}</p>
                        <p class="price_line mt-2">
                            {% if product.compare_at_price > product.price %}
                                <span><s>{{ product.compare_at_price | money }}</s></span>&nbsp;&nbsp;
                            {% endif %}
                            {{ product.price | money }} <span class="discount_txt">with discount <i class="fa fa-long-arrow-right"></i></span>
                        </p>
                        
                    </div>
                </a>
            </div>
      </div>
      {% endfor %}
      {% if paginate.next %}
      <div id="more" class="col-12 text-md-right text-center">
        <p><a href="{{ paginate.next.url }}" class="btn-show-more ml-auto">Next <i class="fa fa-angle-right" aria-hidden="true" ></i></a></p>
      </div>
      {% endif %}
    </div>
    {% comment %} <div class="row">
      <div class="col-12 text-center mt-3">
        <a class="btn-show-more m-auto">Show More</a>
      </div>
    </div> {% endcomment %}
  </div>
</section>
{% endpaginate %}

<script>
  let triggered = false;

  function ScrollExecute() {
    let moreButon = $('#more').last();
    let nextUrl = $(moreButon).find('a').attr("href");
    if ((($(moreButon).offset().top - $(window).scrollTop()) < 800) && (triggered == false)) {
      triggered = true;
      $.ajax({
          url: nextUrl,
          type: 'GET',
          beforeSend: function () {
            moreButon.remove();
          }
        })
        .done(function (data) {
          $('.product').append($(data).find('.product').html());
          triggered = false
        });
    }
  }

  $(document).ready(function () {
    /*$(window).scroll(function(){
      ScrollExecute();
    });*/
    $('body').on('click', '#more a', function (event) {
      event.preventDefault();
      ScrollExecute();
    })
  });
</script>

{% schema %}
{
"name": "Collection Shop Section",
"settings": [
]
}
{% endschema %}