<section class="pb-5 bg-white contact">
<div class="contact-us" style="background-image: url({{ section.settings.bg_img | img_url: 'original' }});">
<div class="hero-inner">
    <form role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
    <input name="utf8" type="hidden" value="✓">
    <input type="search" name="query" id="query" placeholder="Search" autocomplete="off" aria-label="Search" class=""></form>
  </div>
</div>
    <div class="container">
        <div class="row py-5">
        {% for block in section.blocks %}
        {% if block.type == "content" %}
          <div class="col-12 col-xl-4 col-lg-4 col-md-6 mb-5 mb-xl-5 mb-lg-5 mb-lg-5">
                <div class="text-center border rounded p-5 box">
                    <p class="font-weight-bold">{{ block.settings.box_head }}</p>
                    <span class="font-weight-bold">{{ block.settings.box_des }}</span>
                </div>
            </div>
            {% endif %}
          {% endfor %}
            {% comment %} <div class="col-12 col-xl-4 col-lg-4 col-md-6 mb-5 mb-xl-5 mb-lg-5 mb-lg-5">
                <div class="text-center border rounded p-5 box">
                    <p class="font-weight-bold">Product questions</p>
                    <span class="font-weight-bold">Our goal is to send you a great product at a great price, every time. Look here for some frequently asked product que...</span>
                </div>
            </div>
            <div class="col-12 col-xl-4 col-lg-4 col-md-6 mb-5 mb-xl-5 mb-lg-5 mb-lg-5">
                <div class="text-center border rounded p-5 box">
                    <p class="font-weight-bold">Shipping questions</p>
                    <span class="font-weight-bold">The time between your check out and your item's arrival doesn't have to be a black box. Check here for questions on s...</span>
                </div>
            </div> {% endcomment %}
    </div>
    <div class="row mb-5">
     {% for block in section.blocks %}
        {% if block.type == "content_new" %}
        <div class="col-12">
          <div class="text-center border rounded p-5 box">
                  <p class="font-weight-bold">Return questions</p>
                  <span class="font-weight-bold">We're here to help you get the perfect product to match your home. Didn't like it? No longer need it? We can help wit...</span>
          </div>
        </div>
          {% endif %}
        {% endfor %}
    </div>
    <hr>
</section>

{% schema %}
{
"name": "Header",
"settings": [
  {
    "type": "image_picker",
    "id": "bg_img",
    "label":"Backgound Image"
  
  }
  ],
    "blocks": [
      {
        "type": "content",
        "name": "row_3x",
        "settings": [
          {
            "id": "box_head",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "box_des",
            "type": "text",
            "label": "Description"
          }
        ]
      },
      {
        "type": "content_new",
        "name": "row_1x",
        "settings": [
          {
            "id": "box_head",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "box_des",
            "type": "text",
            "label": "Description"
          }
        ]
      }
    ]
  }
  {% endschema %}