<footer class="footer">
  <div class="container footer-top  pt-5">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="row">
            {% for block in section.blocks limit:2 %}
              {% if block.type == 'footer_menu' %}
              <div class="col-lg-4 col-md-4 col-sm-6 text-md-left text-center">
                  <div class="main_content_box">
                    <h4>{{ block.settings.head_txt }}</h4>
                    <ul class="footer_menu">
                      {% for link in linklists[block.settings.footer_menu_ul].links %}
                          <li class="py-1"><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
              </div>
              {% endif %}
            {% endfor %}
            <div class="col-lg-4 col-md-4 col-sm-6 text-md-left text-center">
                <div class="main_content_box">
                  <h4>{{ section.settings.heading_txt }}</h4>
                  <div class="footer_menu_div">
                      <p>{{ section.settings.contact_txt }}</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 ml-md-autotext-md-left text-center"> 
          <div class="newsletter_div">
              <div class="inpt_div">
                  <input type="text" placeholder="Enter Email for Deals and News" >
                  <button class="submittt_btn">Submit</button>
              </div>
              <div class="payment_div text-md-left text-center">
                  <ul class="payment_ul">
                    {% for block in section.blocks %}
                      {% if block.type == 'payment' %}
                        {% if  block.settings.enable_option %}
                          <li><img src="{{ block.settings.payment_img | img_url: 'original' }}" alt=""></li>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </ul>
              </div>
              <div class="social_main_div">
                  <div class="seal_div">
                  </div>
                  <div class="social_div text-md-left text-center">
                      <ul class="social_ul">
                            {% if section.settings.enable_pinterest %}
                            <li>
                              <a href="{{ section.settings.pinterest_link }}">
                                <i class="fa fa-pinterest-p"></i>
                              </a>
                            </li>
                            {%  endif %}

                            {% if section.settings.enable_insta %}
                            <li>
                              <a href="{{ section.settings.insta_link }}">
                               <i class="fa fa-instagram"></i>
                              </a>
                            </li>
                            {%  endif %}

                            {% if section.settings.enable_fb %}
                            <li>
                              <a href="{{ section.settings.fb_link }}">
                               <i class="fa fa-facebook"></i>
                              </a>
                            </li>
                            {%  endif %}

                            {% if section.settings.enable_twitter %}
                            <li>
                              <a href="{{ section.settings.twitter_link }}">
                               <i class="fa fa-twitter"></i>
                              </a>
                            </li>
                            {%  endif %}
                      </ul>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  <div class="text-center py-3 footer-btm">
    <p class="display-3 mb-0">
      {{ section.settings.copyright_text }}
    </p>
  </div>
</footer>

{% schema %}
{
"name": "Footer",
"settings": [
  {
    "type": "header",
    "content": "Footer Top"
  },
  {
    "type": "text",
    "id": "heading_txt",
    "label": "Head Text"
  },
  {
    "type": "textarea",
    "id": "contact_txt",
    "label": "Contact Us Text"
  },
  {
    "type": "header",
    "content": "Footer Bottom"
  },
  {
    "type": "text",
    "id": "copyright_text",
    "label": "Copyright Text",
    "default": "1998-2020 Therug-store, LLC. All rights reserved."
  },
  {
    "type": "header",
    "content": "Social Icons"
  },
  {
    "type": "checkbox",
    "id": "enable_pinterest",
    "label": "Pinterest"
  },
  {
    "type": "url",
    "id": "pinterest_link",
    "label": "Pinterest Url"
  },
  {
    "type": "checkbox",
    "id": "enable_insta",
    "label": "Instagram"
  },
  {
    "type": "url",
    "id": "insta_link",
    "label": "Instagram Url"
  },
  {
    "type": "checkbox",
    "id": "enable_fb",
    "label": "Facebook"
  },
  {
    "type": "url",
    "id": "fb_link",
    "label": "Facebook Url"
  },
  {
    "type": "checkbox",
    "id": "enable_twitter",
    "label": "Twitter"
  },
  {
    "type": "url",
    "id": "twitter_link",
    "label": "Twitter Url"
  }
],
"blocks":[
  {
    "type": "footer_menu",
    "name": "Footer Box",
    "limit": 2,
    "settings": [
        {
          "type":"text",
          "id": "head_txt",
          "label": "Heading Text"
        },
        {
          "type": "link_list",
          "id": "footer_menu_ul",
          "label": "Select Menu"
        }
    ]
  },
  {
    "type": "payment",
    "name": "Payment Option",
    "limit": 6,
    "settings": [
        {
          "type":"checkbox",
          "id": "enable_option",
          "label": "Enable"
        },
        {
          "type": "image_picker",
          "id": "payment_img",
          "label": "Image"
        }
    ]
  }
]
}
{% endschema %}