{% assign template_type = section.settings.template_type %}
{% assign homepage_transparent_header = section.settings.homepage_transparent_header %}
{% assign logo = settings.main_logo | img_url: '200x' %}
{% assign logo_light = settings.main_logo_light | img_url: '200x' %}
{% assign logo_width = settings.logo_max_width %}
{% if section.settings.topbar_enabled %}
<div class="topbar d-block" data-top-bar style="background-color: {{ section.settings.topbar_bg_color }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 annucement-bar py-2 text-center"
        style="font-size: {{ section.settings.topbar_font_size}}px !important; color: {{ section.settings.topbar_text_color }} !important;">
        <p class="mb-0">{{ section.settings.topbar_text }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
<header class="site-header header {% if homepage_transparent_header %}header-transparent{% endif %} " data-site-header
  data-section-id="{{ section.id }}" data-transparent-header="{{ homepage_transparent_header }}">

  {% include 'navbar-default' %}

</header>


{% schema %}
{
"name": "Header",
"settings": [
  {
    "type": "image_picker",
    "id": "logo_img",
    "label":"Logo Image"
  },
  {
    "type": "header",
    "content": "Menu"
  },
  {
    "type": "link_list",
    "id": "main_linklist",
    "label": "Select Menu",
    "default": "main-menu"
  },
  {
    "type": "header",
    "content": "Top Bar"
  },
  {
    "type": "checkbox",
    "id": "topbar_enabled",
    "label": "Enabled?",
    "default": false
  },
  {
    "type": "html",
    "id": "topbar_text",
    "label": "Message"
  },
  {
    "type": "color",
    "id": "topbar_bg_color",
    "label": "Background Color",
    "default": "#000000"
  },
  {
    "type": "color",
    "id": "topbar_text_color",
    "label": "Text Color",
    "default": "#ffffff"
  },
  {
    "type": "range",
    "id": "topbar_height",
    "label": "Minimum Height",
    "min": 20,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 40
  },
  {
    "type": "range",
    "id": "topbar_font_size",
    "min": 1,
    "max": 15,
    "step": 1,
    "unit": "px",
    "label": "Font Size",
    "default": 1
  },
  {
    "type": "header",
    "content": "Right Menu"
  },
  {
    "type": "checkbox",
    "id": "enable_right_menu",
    "label": "Enable Right Menu"
  },
  {
    "type": "header",
    "content": "Search Icon"
  },
  {
      "type": "checkbox",
      "id": "search_bar",
      "label": "Enable"
  },
  {
    "type":      "select",
    "id":        "image_search_option",
    "label":     "Select Type",
    "options": [
      {
        "value": "svg",
        "label": "SVG"
      },
      {
        "value": "image",
        "label": "Image"
      }
    ],
    "default":   "svg"
  },
  {
    "type": "image_picker",
    "id": "search_img",
    "label": "Image"
  },
  {
    "type": "textarea",
    "id": "search_svg",
    "label": "SVG"
  },
  {
    "type": "header",
    "content": "Account Icon"
  },
  {
      "type": "checkbox",
      "id": "account_bar",
      "label": "Enable"
  },
  {
    "type":      "select",
    "id":        "image_account_option",
    "label":     "Select Type",
    "options": [
      {
        "value": "svg",
        "label": "SVG"
      },
      {
        "value": "image",
        "label": "Image"
      }
    ],
    "default":   "svg"
  },
  {
    "type": "image_picker",
    "id": "account_img",
    "label": "Image"
  },
  {
    "type": "textarea",
    "id": "account_svg",
    "label": "SVG"
  },
  {
    "type": "header",
    "content": "Cart Icon"
  },
  {
      "type": "checkbox",
      "id": "cart_bar",
      "label": "Enable"
  },
  {
    "type":      "select",
    "id":        "image_cart_option",
    "label":     "Select Type",
    "options": [
      {
        "value": "svg",
        "label": "SVG"
      },
      {
        "value": "image",
        "label": "Image"
      }
    ],
    "default":   "svg"
  },
  {
    "type": "image_picker",
    "id": "cart_img",
    "label": "Image"
  },
  {
    "type": "textarea",
    "id": "cart_svg",
    "label": "SVG"
  }
],
   "blocks":[
   { 
      "type":"header",
      "name":"Mega_image",
      "settings":[ 
         { 
            "type":"text",
            "id":"menu_handle",
            "label":"Menu Handle"
         },
         { 
            "type":"image_picker",
            "id":"image-menu",
            "label":"Image Menu"
         },
         { 
            "type":"text",
            "id":"text_title",
            "label":"Image Text"
         }
      ]
   }
]
}
{% endschema %}


{% javascript %}
{% endjavascript %}