{% if section.settings.enable %}
<section class="literally-section py-5">
    <div class="container py-3">
    {% if section.settings.title != blank %}
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h3 class="text-uppercase mb-0">{{section.settings.title}}</h3>
            </div>
        </div>
    {% endif %}

        <div class="col-11 m-auto">
            <div class="row">
                {% for block in section.blocks %}
                <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                    <div class="litt-box">
                        {% if block.settings.image != blank %}
                        <div class="litt-icon-box">
                            <img src="{{block.settings.image | img_url :'70px' }}" alt="{{block.settings.image}}">
                        </div>
                        {% endif %}
                        <h5 class="text-uppercase">{{block.settings.title}}</h5>
                        <p class="mb-0">{{block.settings.subtitle}} </p>
                    </div>
                </div>
                {% endfor %}
                {% comment %} <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                    <div class="litt-box">
                        <div class="litt-icon-box">
                            <img src="images/low-shipping.png" alt="Low Shipping">
                        </div>
                        <h5 class="text-uppercase">Free/Low Shipping</h5>
                        <p class="mb-0">Earn discounts by simply purchasing product or referring your friends! </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                    <div class="litt-box">
                        <div class="litt-icon-box">
                            <img src="images/pending.png" alt="FDA Pending">
                        </div>
                        <h5 class="text-uppercase">fda Pending</h5>
                        <p class="mb-0">Wold wide Patent's pending - Patent Cooperation Treaty (PCT)</p>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Featured Content",
"class": "index-featured-section",
 "max_blocks": 3,
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable"
},
{
"type": "textarea",
"id": "title",
"label": "heading",
"default": "THE BEST MACKUP FORMULAS MADE FOR THE PARTY"
}
],
"blocks": [{
"type": "image",
"name": "Content Block",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Block image"
},
{
"type": "textarea",
"id": "title",
"label": "heading",
"default": "FORMULA OSWAL WEN"
},
{
"type": "textarea",
"id": "subtitle",
"label": "Details"
}
]
}],
"presets": [
{
"name": "Featured Content",
"category": "Image with text"
}
]
}
{% endschema %}