{% if section.settings.enable_slider %}
<section class="banner-section">
    <div class="banner-div">
        {% if section.settings.image_banner != blank %}
            <img class="banner-img d-xl-block d-lg-block d-md-block d-sm-none d-none" src="{{section.settings.image_banner | img_url : 'original'}}" alt="Banner image">
        {% endif %}
        {% if section.settings.image_banner1 != blank %}
            <img class="banner-img d-xl-none d-lg-none d-md-none d-sm-block d-block" src="{{section.settings.image_banner1 | img_url : 'original'}}" alt="Banner image">
        {% endif %}
        {% if section.settings.enable_content %}
            <div class="container">
                <div class="banner-content text-center">            
                    <h1 class="text-dark mb-0">{{section.settings.subtitle}}</h1>
                    <p class="my-3">{{section.settings.description}}</p>
                    {% if section.settings.btn1enable %}
                    <a  class="button-all banner-btn" href="{{section.settings.btn1url}}">{{section.settings.btntext}}</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Index Banner Section",
"class": "index-banner-section",
"settings": [
{
    "type": "checkbox",
    "id": "enable_slider",
    "label": "Enable Banner Slider For Desktop"
},
{
    "type":"image_picker",
    "id":"image_banner",
    "label":"Banner Image"
},
{
    "type":"image_picker",
    "id":"image_banner1",
    "label":"Banner Image For Mobile"
},
{
"type":"checkbox",
"id":"enable_content",
"label":"Enable Content"
},
{
    "type":"text",
    "id":"subtitle",
    "label":"Title"
},
{
    "type":"textarea",
    "id":"description",
    "label":"Banner Short Description"
},
{
    "type":"checkbox",
    "id":"btn1enable",
    "label":"Banner Button Enable ?"
},
{
    "type":"text",
    "id":"btntext",
    "label":"Banner Button Text",
    "default":"Buy Now"
},
{
    "type":"url",
    "id":"btn1url",
    "label":"Banner Button Url"
}
],
"presets": [
    {
        "name": "Index Banner",
        "category": "Banner"
    }
]
}
{% endschema %}