{% if section.settings.enable %}
<section class="last_banner">
<a href="{{section.settings.banner_url}}">
    {% if section.settings.sm-banner != blank  %}
    <img src="{{ section.settings.sm-banner | img_url: 'original' }}" alt="{{shop.name}}" class=" d-xl-block d-lg-block d-md-block d-sm-none d-none img-fluid">
   {% endif %}
    {% if section.settings.sm-banner-mobile != blank  %}
    <img src="{{ section.settings.sm-banner-mobile | img_url: 'original' }}" alt="{{shop.name}}" class=" d-xl-none d-lg-none d-md-none d-sm-block d-block img-fluid">
   {% endif %}

    </a>
</section>
{% endif %}
{% schema %}
{
"name": "Big Banner",
"settings": [
     {
         "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
    },
    {
        "type":"image_picker",
        "id":"sm-banner",
        "label":"Background Image"
    },
    {
        "type":"image_picker",
        "id":"sm-banner-mobile",
        "label":"Background Image Mobile"
    },
    {
        "type":"url",
        "id":"banner_url",
        "label":"Banner Url" 
    }
],
"presets": [
    {
        "name": "Big Banner",
        "category": "index"
    }
]
}
{% endschema %}