{% if section.settings.enable %}
<section class="customer_photo">
    <div class="container">
        <div class="row ">
            {% if section.settings.title %}
                <div class="col-12 pb-3">
                   <a class="title-div" href="{{ section.settings.title_url }}">
                        <h4>{{section.settings.title}}</h4>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="customer_slider_index">
            {% for block in section.blocks %}
                {% if block.type == 'customer_photo' %}
                    <div class="customer_box">
                        <div class="customer_img_box">
                            <img src="{{ block.settings.customer_img | img_url:'original' }}" alt="{{ block.settings.head_title }}">
                        </div>
                        <div class="customer_content_box">
                            <p class="custo_name">{{ block.settings.head_title }}</p>
                            <p class="like_number"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp;{{ block.settings.like_number }} </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Customer Photo",
"settings": [
     {
         "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
    },
    {
        "type":"text",
        "id":"title",
        "label":"Title"
    },
    {
        "type":"url",
        "id":"title_url",
        "label":"Url"
    }
],
"blocks":[
    {
        "type": "customer_photo",
        "name": "Customer",
        "settings": [
            {
                "type": "image_picker",
                "id": "customer_img",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "head_title",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "like_number",
                "label": "Like"
            }
            
        ]
    }
],
"presets": [
    {
        "name": "Customer Photo",
        "category": "index"
    }
]
}
{% endschema %}