{% if section.settings.enable %}
<section class="small_banner">
    <a href="{{section.settings.banner_url}}">
    <img src="{{ section.settings.sm-banner | img_url: 'original' }}" alt="{{shop.name}}">
    </a>
</section>
{% endif %}
{% schema %}
{
"name": "Small Banner",
"settings": [
     {
         "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
    },
    {
        "type":"image_picker",
        "id":"sm-banner",
        "label":"Background Image"
    },
    {
        "type":"url",
        "id":"banner_url",
        "label":"Banner Url" 
    }
],
"presets": [
    {
        "name": "Small Banner",
        "category": "index"
    }
]
}
{% endschema %}