{% if section.settings.enable %}
<section class="testimonials">
    <div class="container">
        <div class="row ">
            {% if section.settings.title %}
                <div class="col-12 pb-3">
                    <h4>{{section.settings.title}}</h4>
                </div>
            {% endif %}
        </div>
        <div class="customer_slider">
            {% for block in section.blocks %}
                {% if block.type == 'image_custo' %}
                    <div class="div_customer_box">
                        <div class="customer_img_box">
                            <img src="{{ block.settings.custo_img | img_url: 'original' }}" alt="{{shop.name}}">
                        </div>
                        <div class="custo_content_box">
                            <div class="rating_div">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <h6>{{ block.settings.head_title }}</h6>
                            <p class="review_txt_p"><i>{{ block.settings.content_txt | strip_html | truncate: 110 }}</i></p>
                            <p class="cus_name">- {{ block.settings.custo_name }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Testimonial Section",
"settings": [
     {
         "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
    },
    {
        "type":"text",
        "id":"title",
        "label":"Title"
    }
],
"blocks":[
    {
        "type": "image_custo",
        "name": "Customer Review",
        "settings": [
            {
                "type": "image_picker",
                "id": "custo_img",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "head_title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "content_txt",
                "label": "Review Text"
            },
            {
                "type": "text",
                "id": "custo_name",
                "label": "Customer Name"
            }
        ]
    }
],
"presets": [
    {
        "name": "Testimonials",
        "category": "index"
    }
]
}
{% endschema %}