{% if section.settings.enable %}
<section class="easy-to-use">
    <div class="container ">
        <div class="row py-5">
            <div class="col-xl-10 col-lg-11 col-md-12 col-sm-6 col-12 m-auto">
                <div class="row">
                {% if section.settings.title %}
                    <div class="col-12 text-center mb-4">
                        <h3 class="text-uppercase">{{section.settings.title}}</h3>
                    </div>
                {% endif %}
                {% for block in section.blocks %}
                    <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center">
                            {% if block.settings.img_url %}<a href="{{block.settings.img_url}}">{% endif %}
                            {% if block.settings.image != blank  %}
                              <img src="{{block.settings.image | img_url :'orignal'}}" alt="{{block.settings.image }}" class="mb-3 w-50" />
                            {% endif %}
                            {% if block.settings.img_url %}
                            </a>
                            {% endif %}
                            {% if block.settings.subtitle %}
                            <h5>{{block.settings.subtitle}}</h5>
                            {% endif %}
                            {% if block.settings.description %}
                            <p>{{ block.settings.description }}</p>
                            {% endif %}
                        </div>
                {% endfor %}
                        {% comment %} <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center">
                            <a href="#"><img src="images/home-2.png" alt="Image" class="mb-3 w-50" /></a>
                            <h5>APPLY</h5>
                            <p>
                                Apply Lalu collection unisex complete face cream for night and
                                day.
                            </p>
                        </div>
                        <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center">
                            <a href="#"><img src="images/home-3.png" alt="Image" class="mb-3 w-50" /></a>
                            <h5>MASSAGE</h5>
                            <p>
                                Spread Lalu unisex moisturizing cream evenly and massage
                                gently.
                            </p>
                        </div> {% endcomment %}
                    </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Easy to Use Section",
 "max_blocks": 3,
"settings": [
    {"type":"checkbox",
    "id":"enable",
    "label":"Enable ?"
    },
    {
    "type":"text",
    "id":"title",
    "label":"Title",
    "default":"Easy To Use"
    }
],
"blocks":[{
"type": "image",
"name": "Image Block",
"settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "Block image"
    },
    {
    "type": "url",
    "id": "img_url",
    "label": "Image Url"
    },
    {
    "type": "text",
    "id": "subtitle",
    "label": "Sub Heading"
    },
    {
    "type": "richtext",
    "id": "description",
    "label": "Description"
    }
]
}],
"presets": [
{
"name": "Easy To Use",
"category": "Index"
}
]
}
{% endschema %}