{% if section.settings.enable %}
<section class="slider_section py-4">
    <div class="container">
        <div class="row">
            <div class="col-11 m-auto">
                <div class="slider_div text-center">
               {% for block in section.blocks %}
                    <div>
                    {% if block.settings.image != blank %}
                        <img src="{{block.settings.image | img_url : 'original'}}" alt="{{block.settings.image}}" class="mw-100 img-fluid m-auto" />
                    {% endif %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Brand slider Section",
"settings": [
    {"type":"checkbox",
    "id":"enable",
    "label":"Enable ?"}
],
   "blocks":[{
    "type": "image",
    "name": "Image Block",
    "settings":[
        {
        "type":"image_picker",
        "id":"image",
        "label":"Brand Image"
        }
    ] 
    }
],
"presets": [
{
"name": "Brand Slider",
"category": "Index"
}
]
}
{% endschema %}