{% if section.settings.enable %}
<section class="shop_size">
    <div class="container">
        <div class="row ">
            {% if section.settings.title %}
                <div class="col-12 pb-3">
                   <a class="title-div" href="{{ section.settings.title_url }}">
                        <h4>{{section.settings.title}}</h4>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="row size_box_main">
             {% for block in section.blocks %}
                {% if block.type == 'collections' %}
                {% assign collec =  collections[block.settings.collection_main] %}
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="size_box">
                        <a href="{{ collec.url }}">
                            <h5 class="mb-0">{{ collec.title }}</h5>
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 ">
                <div class="size_box show_all">
                    <a href="{{ section.settings.title_url }}">
                        <h5 class="mb-0">View All Sizes</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Shop By Size",
"settings": [
     {
         "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
    },
    {
        "type":"text",
        "id":"title",
        "label":"Title"
    },
    {
        "type":"url",
        "id":"title_url",
        "label":"Url"
    }
],
"blocks":[
    {
        "type": "collections",
        "name": "collection",
        "settings": [
            {
                "type": "collection",
                "id": "collection_main",
                "label": "Collection"
            }
        ]
    }
],
"presets": [
    {
        "name": "Shop Size",
        "category": "index"
    }
]
}
{% endschema %}