{% if section.settings.enable %}
<section class="prod_collection">
    <div class="container">
        <div class="row ">
            {% if section.settings.title %}
                <div class="col-12 pb-3">
                   <a class="title-div" href="{{ section.settings.title_url }}">
                        <h4>{{section.settings.title}}</h4>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="product_slider_index">
            {% assign collec =  collections[section.settings.collection_main] %}
            {% for product in  collec.products %}
            <div class="product_box">
                <a href="{{ product.url }}">
                    <div class="product_img_box">
                        <img src="{{ product.featured_image | img_url:'original' }}" alt="{{ product.title }}">
                    </div>
                    <div class="product_content_box">
                        <p class="price_line">
                            {% if product.compare_at_price > product.price %}
                                <span><s>{{ product.compare_at_price | money }}</s></span>&nbsp;&nbsp;
                            {% endif %}
                            {{ product.price | money }} <span class="discount_txt">with discount</span>
                        </p>
                        <p class="prod_name">{{ product.title }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% comment %}
            <div class="product_box">
                <a href="#">
                    <div class="product_img_box">
                        <img src="https://www.rug-images.com/products/osNew/roomImage/200HJFV01C.jpg?purpose=pdpSplashDesk" alt="">
                    </div>
                    <div class="product_content_box">
                        <p class="price_line">$66</p>
                        <p class="prod_name">Solid Braided Indoor/Outdoor Rug</p>
                    </div>
                </a>
            </div>
            <div class="product_box">
                <a href="#">
                    <div class="product_img_box">
                        <img src="https://www.rug-images.com/products/osNew/roomImage/200HJFV01C.jpg?purpose=pdpSplashDesk" alt="">
                    </div>
                    <div class="product_content_box">
                        <p class="price_line">$66</p>
                        <p class="prod_name">Solid Braided Indoor/Outdoor Rug</p>
                    </div>
                </a>
            </div>
            <div class="product_box">
                <a href="#">
                    <div class="product_img_box">
                        <img src="https://www.rug-images.com/products/osNew/roomImage/200HJFV01C.jpg?purpose=pdpSplashDesk" alt="">
                    </div>
                    <div class="product_content_box">
                        <p class="price_line">$66</p>
                        <p class="prod_name">Solid Braided Indoor/Outdoor Rug</p>
                    </div>
                </a>
            </div>
            <div class="product_box">
                <a href="#">
                    <div class="product_img_box">
                        <img src="https://www.rug-images.com/products/osNew/roomImage/200HJFV01C.jpg?purpose=pdpSplashDesk" alt="">
                    </div>
                    <div class="product_content_box">
                        <p class="price_line">$66</p>
                        <p class="prod_name">Solid Braided Indoor/Outdoor Rug</p>
                    </div>
                </a>
            </div>
            {% endcomment %}
             <div class="product_box show_more">
                <a href="{{ collec.url }}">
                    <div class="product_img_box">
                        <p class="prod_name">See More &nbsp;→</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Product Collection",
"settings": [
     {
         "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
    },
    {
        "type":"text",
        "id":"title",
        "label":"Title"
    },
    {
        "type":"url",
        "id":"title_url",
        "label":"Url"
    },
    {
        "type":"collection",
        "id":"collection_main",
        "label":"Collection"
    }
],
"presets": [
    {
        "name": "Product Collection",
        "category": "index"
    }
]
}
{% endschema %}