{% if section.settings.enable %}
<section class="instfeed pb-5">
    <div class="container">
        <div class="row text-center pb-5">
        {% if section.settings.title %}
            <div class="col-12">
                <i class="fa fa-instagram" style="font-size:30px;"></i>
                <h3><a href="{{ section.settings.url }}">{{section.settings.title}}</a></h3>
            </div>
            {% endif %}
            <div class="col-12 pb-3">
                <div class="row instra-main pt-4 m-0">
                {% for block in section.blocks %}
                {% if  block.settings.image != blank %}
                    <div class="col insta_post">
                        <div class="insta_post_img">
                            <a href="#"><img src="{{block.settings.image | img_url : 'original'}}" alt="instagram" /></a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Instagram Section",
 "max_blocks": 6,
"settings": [
    {"type":"checkbox",
    "id":"enable",
    "label":"Enable ?"
    },
    {"type":"text",
    "id":"title",
    "label":"Title",
    "default":"@Blendvit"
    },
    {"type":"url",
    "id":"url",
    "label":"Url"
    }
],
"blocks":[{
"type": "image",
"name": "Image Block",
"settings": [
{
"type":"image_picker",
"id":"image",
"label":"Instgram Image"
}
]
}
],
"presets": [
{
"name": "Instagram",
"category": "Index"
}
]
}
{% endschema %}