{% if section.settings.enable %}
<section class="support-section">
    <div class="container">
        <div class="row">
            {% for block in section.blocks %}
            <div class="col-md-4 col-sm-12 col-12 m-auto">
                <div class="support-box">
                    <div class="img_box_support">
                        <img src="{{ block.settings.support_img | img_url: 'small' }}" alt="{{shop.name}}">
                    </div>
                    <div class="support_box_content">
                        <h6 class="mb-0">{{ block.settings.support_head }}</h6>
                        <p class="mb-0"> {{ block.settings.support_line }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<style>
    .support-section{
        background:{{ section.settings.bg_color }} !important;
    }
    .support-section .support-box .support_box_content h6{
        color:{{ section.settings.text_head_color }} !important;
    }
    .support-section .support-box .support_box_content p{
        color:{{ section.settings.txt_color }} !important;
    }
</style>
{% endif %}

{% schema %}
{
"name": "Support Section",
"settings": [
     {
         "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
    },
    {
        "type": "color",
        "id": "text_head_color",
        "label": "Title Text Color"
    },
    {
        "type": "color",
        "id": "txt_color",
        "label": "Content Text Color"
    }
],
"blocks":[
    {
        "type": "support",
        "name": "support Box",
        "settings": [
            {
                "type": "image_picker",
                "id": "support_img",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "support_head",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "support_line",
                "label": "Subtitle"
            }
        ]
    }
],
"presets": [
{
"name": "Support section",
"category": "index"
}
]
}
{% endschema %}