{% if section.settings.enable %}
<section class="shop_style">
    <div class="container">
        <div class="row ">
            {% if section.settings.title %}
                <div class="col-12 pb-3">
                    <a class="title-div" href="{{ section.settings.title_url }}">
                        <h4>{{section.settings.title}}</h4>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class=" row style_box_main">
             {% for block in section.blocks %}
                {% if block.type == 'collections' %}
                {% assign collec =  collections[block.settings.collection_main] %}
                    <div class="col-lg-2 col-md-3 col-sm-3 col-6" >
                        <a href="{{ collec.url }}">
                        <div class="style_box">
                            <div class="img_box_style">
                                <img src="{{ collec.image | img_url:'original' }}" alt="{{ collec.title }}"> 
                            </div>
                            <h5>{{ collec.title }}</h5>
                        </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Shop By Style",
"settings": [
     {
         "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
    },
    {
        "type":"text",
        "id":"title",
        "label":"Title"
    },
    {
        "type": "url",
        "id": "title_url",
        "label": "Url"
    }
],
"blocks":[
    {
        "type": "collections",
        "name": "collection",
        "settings": [
            {
                "type": "collection",
                "id": "collection_main",
                "label": "Collection"
            }
        ]
    }
],
"presets": [
    {
        "name": "Shop Style",
        "category": "index"
    }
]
}
{% endschema %}