{% if section.settings.enable %}
<section class="free-shiping-section py-5 mb-5">
    {% if section.settings.bg_img != blank %}
        <img class="section-bg-img d-xl-block d-lg-block d-md-block d-sm-none d-none" src="{{ section.settings.bg_img | img_url:'original' }}" alt="">
    {% endif %}
     {% if section.settings.bg_img1 != blank %}
        <img class="section-bg-img d-xl-none d-lg-none d-md-none d-sm-block d-block" src="{{ section.settings.bg_img1 | img_url:'original' }}" alt="">
    {% endif %}
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-7 m-auto">
                <div class="free-shipping-content">
                    <div class="content p-4">
                        {% if section.settings.title != blank %}
                            <h3 class="text-uppercase ">{{section.settings.title}}</h3>
                        {% endif %}
                        {% if section.settings.subtitle != blank %}
                            <h6 class="text-uppercase mb-4">{{section.settings.subtitle}}</h6>
                        {% endif %}
                        {% if section.settings.subtitle1 != blank %}
                            <h5 class="text-uppercase bg-white text-white">{{section.settings.subtitle1}}</h5>
                        {% endif %}
                        {% if section.settings.btntext != blank and section.settings.btnurl != blank %}
                          <a class="button-all" href="{{section.settings.btnurl}}">{{ section.settings.btntext }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
             {% if section.settings.image != blank %}
            <div class="col-xl-7 col-lg-7 col-md-7">
                <img class="img-fluid shadow-lg" src="{{section.settings.image | img_url :'original'}}" alt="Free Shipping">
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Free Shipping Section",
"settings": [{
"type":"checkbox",
"id":"enable",
"label":"Enable ?"
},
{
"type":"image_picker",
"id":"bg_img",
"label":"Background Image For Desktop"
},
{
"type":"image_picker",
"id":"bg_img1",
"label":"Background Image For Mobile"
},
{
    "type":"text",
    "id":"title",
    "label":"Title"
},
{
"type":"text",
"id":"subtitle",
"label":"Subtitle 2"
},
{
"type":"text",
"id":"subtitle1",
"label":"Subtitle 2"
},
{
"type":"text",
"id":"btntext",
"label":"Button Text"
},
{
"type":"url",
"id":"btnurl",
"label":"Url"
},
{
"type":"image_picker",
"id":"image",
"label":"Image"
}
],
"presets": [
{
"name": "Free Shipping",
"category": "Index"
}
]
}
{% endschema %}