{% assign current_variant = product.selected_variant %}
<section class="product-detail-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="bredcume-ul list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/collections">Shop</a></li>
          <li><a href="#">{{ product.title }}</a></li>
        </ul>
      </div>
    </div>
    <div class="row pb-3">
        <div class="col-12">
          <h3>{{ product.title }}</h1>
        <div>
              <span class="review-pro">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </span>
        </div>
    </div>
    </div>
    <div class="row">
      <div class="col-xl-7 col-lg-7">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 pl-0 d-none d-xl-block d-lg-block d-md-block m-inherit">
            <div class="product-nav">
              {% if product.images.size > 1 %}
              <ul class="pro-nav-ul list-unstyled mb-0">
                {% for image in product.images %}
                <li>
                  <a href="#"><img src="{{ image.src | img_url:'200x' }}" alt="{{ product.title }}"></a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 m-auto">
            <div class="product-slider mb-0">
              {% for image in product.images %}
              <img src="{{ image.src | img_url:'original' }}" alt="{{ product.title }}">
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-5 mt-xl-0 mt-lg-0 mt-5 m-auto sticky_po">
        <div class="product-detail-content bg-white border rounded p-5 mb-3">
          <div class="product-head pb-3">
            <!-- <p>{{ collection.title }}</p> -->
            <h5>{{ product.title }}</h5>
            <div class="price-text">
              <span class="price price-update mr-4">{{ product.price | money }}</span>
              &nbsp;&nbsp;
              {% if product.compare_at_price > product.price %}
                <small><s>{{ product.compare_at_price | money }}</s></small>
              {% endif %}
            </div>
          </div>
          {% comment %} 
            <div class="add-ons-row no-padding my-3">
            <div class="col-md-12  no-padding">
              <p class="note-label"><b>ADD ONS :</b> Add our Glitter Lip Kit essentials to your look</p>
            </div>
            <div class="row m-0">
              <div class="col-xs-6 col-sm-6 col-sm-6 col-md-6 check-div " style="padding-left:0;" data-queue="">
                <input id="check_1" type="checkbox">
                <div class="check-box-div">
                  <div class="label-div">
                    <label class="label-check" for="check_1"></label>
                  </div>
                  <div class="img-label-div">
                    <div class="img-div">
                      <img class="img-responsive"
                        data-orig="//cdn.shopify.com/s/files/1/1990/5397/products/Kiss_Proof_Eraser_300x.jpg?v=1565391683"
                        src="//cdn.shopify.com/s/files/1/1990/5397/products/Kiss_Proof_Eraser_300x.jpg?v=1565391683"
                        alt="Kiss Proof Eraser">
                      <div class="overlay-div">
                        <p><b>$12.50</b></p>
                      </div>
                    </div>
                    <div class="img-label">
                      <p>Kiss Proof Eraser </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-sm-6 col-md-6 check-div " style="padding-left:0;" data-queue="">
                <input id="check_2" type="checkbox">
                <div class="check-box-div">
                  <div class="label-div">
                    <label class="label-check" for="check_2"></label>
                  </div>
                  <div class="img-label-div">
                    <div class="img-div">
                      <img class="img-responsive"
                        data-orig="//cdn.shopify.com/s/files/1/1990/5397/products/yardie_edit_0_300x.png?v=1557444348"
                        src="//cdn.shopify.com/s/files/1/1990/5397/products/yardie_edit_0_300x.png?v=1557444348"
                        alt="Yardie Matte Liquid Lipstick">
                      <div class="overlay-div">
                        <p><b>$16.00</b></p>
                      </div>
                    </div>
                    <div class="img-label">
                      <p>Yardie Matte Liquid</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-8  no-padding reword-main-div">
              <div class="row align-items-center">
                <div class="col-4 col-md-3 col-lg-3 reword-img-div">
                  <img src="https://cdn.shopify.com/s/files/1/1990/5397/files/Icon-dolla-dolla.png?1185" alt="">
                </div>
                <div class="col-8 col-md-8 col-lg-9 reword-text-div">
                  <p style="text-transform: capitalize;">Earn 100 Points with our Stay Golden Miles Reward Program.</p>
                  <a href="/account/login">Sign Up</a>
                </div>
              </div>
            </div>
            </div> 
          {% endcomment %}
          <form method="post" action="/cart/add" id="AddToCartForm-{{ product.variants.first.id }}"
          data-cart-submit="data-cart-submit"
          data-product-id="{{ current_variant.id }}">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
            {% comment %} <input id="quantity" min="1" name="quantity" style="display:none" type="number" value="1"/> {% endcomment %}
            {% comment %}
              {% include 'product-addons' %}
            {% endcomment %}
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-0">
              <div class="form-group d-flex mb-0">                              
                <select class="form-control form_txt " name="id" id="product-select" style="display:none;">
                  {% for variant in product.variants %}
                    <option {% if variant == product.selected_variant %} selected="selected" {% endif %}  value="{{ variant.id }}">{{ variant.title }}</option>
                  {% endfor %}
                </select>
                {% if product.available and product.variants.size > 1 %}
                  {% render 'swatch' for product.options as swatch %}
                {% endif %}
              </div>
            </div>
            <div class="product-qty py-2" data-qtyContainer>
              {% comment %} <label class="text-uppercase">Quantity :</label> {% endcomment %}
              <div class="row pt-2">
                {% comment %} <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 col-4 px-2">
                  <div class="pro-qty-div">
                    <button class="minus-btn qty-btn qty-btns rounded-left" data-direction="-1">-</button>
                    <input class="quntity-input qty-input text-center" type="text" name="quantity" id="quantity"
                      data-qty readonly value="1" min="1">
                    <button class="plus-btn qty-btn qty-btns rounded-right" data-direction="1">+</button>
                  </div>
                </div> 
                {% endcomment %}
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                  <div class="pro-add-btn">
                   {% if addons != blank %}
                    <button class="btn-all add-cart" type="submit"  data-attr = "{{ product.variants.first.id }}" data-cart-add="{{ current_variant.id }}" id="AddToCart" title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                    {% else %}
                    <button class="btn-all add-cart" type="submit"  data-attr = "{{ product.variants.first.id }}" data-cart-add="{{ current_variant.id }}"  title="Add to Cart">Add To Cart</button>
                    {% endif %}
                    {% comment %} <button class="btn-all" type="button" id="quickby">Quick Buy</button>  {% endcomment %}
                  </div>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center icon_cart">
                <i class="fa fa-heart" aria-hidden="true"></i>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center icon_cart">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </form>
        </div>
          <div class="box-2 product-detail-content bg-white border rounded p-5 mb-3">
              <div class="row">
                  <div class="col-6 d-flex align-items-center">
                      <div class="img_box_support">
                          <img src="{{ section.settings.support_img_1 | img_url:'original' }}" alt="{{shop.name}}">
                      </div>
                      <div class="support_box_content pl-3">
                          <h6 class="mb-0">{{ section.settings.txt_head1 }}</h6>
                          <p class="mb-0">{{ section.settings.txt_des1 }}</p>
                      </div>
                  </div>
                  <div class="col-6 d-flex align-items-center">
                      <div class="img_box_support">
                          <img src="{{ section.settings.support_img_2 | img_url:'original' }}" alt="{{shop.name}}">
                      </div>
                      <div class="support_box_content pl-3">
                          <h6 class="mb-0">{{ section.settings.txt_head2 }} </h6>
                          <p class="mb-0">{{ section.settings.txt_des2 }}</p>
                      </div>
                  </div>
              </div>
        </div>
        {% if section.settings.enable_qap %}
            <p>Questions About This Product?</p>
        <div class="d-flex pb-5">
        
              <div class="col-4">
                  <p>Live Chat</p>
              </div>
              <div class="col-4">
                  <p>Email</p>
              </div>
              <div class="col-4">
                  <p>(800) 982-7210</p>
              </div>
        </div>
        {% endif %}
    </div>
    <div class="row pb-5">
    {% if section.settings.enable_po %}
          <div class="col-12 col-lg-7 col-md-12 col-sm-12 bg-white my-3 border rounded m-inherit">
                <div class="product_revi bg-white p-4">
                  <h4 class="mb-3">Product Overview</h4>
                  <h5 class="mb-3">Specifications</h5>
                  <p>Product ID: 200MTVS176A, Brand: Rugs USA, Material:  100% Wool, Weave: Hand Tufted, Color: Ivory, Dimensions:  4' x 6', Shape: Rectangle, Collection: Tuscan, Construction: Hand Tufted, Weight: 13 lbs, Shipping Size: W 6" x L 49" x H 6", Origin: India</p>
                </div>
          </div>
          {% endif %}
          {% if section.settings.enable_re %}
          <div class="col-12 col-lg-7 col-md-12 col-sm-12 bg-white my-3 border rounded m-inherit">
              <div class="Reviews d-block d-xl-flex d-lg-flex d-md-flex justify-content-between p-4">
                      <div class="d-flex align-items-center">
                      <h4 class="pr-5">Reviews</h4>
                          <span class="review-pro">
                            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                        </span> 
                      </div>
                      <span class="d-flex justify-content-center align-items-center btn_rev">Read Reviews<i class="fa fa-plus pl-3" aria-hidden="true"></i></span>
              </div>
          </div>
          {% endif %}
          {% if section.settings.enable_qa %}
          <div class="col-12 col-lg-7 col-md-12 col-sm-12 bg-white my-3 border rounded m-inherit">
              <div class="Reviews d-block d-xl-flex d-lg-flex d-md-flex justify-content-between p-4">
                      <div class="d-flex align-items-center">
                      <h4 class="pr-5">Q&A</h4>
                          <span class="review-pro">
                            <span>15 Questions</span>
                        </span> 
                      </div>
                      <span class="d-flex justify-content-center align-items-center btn_rev">Read Q&A<i class="fa fa-plus pl-3" aria-hidden="true"></i></span>
              </div>
          </div>
          {% endif %}
        </div>
  </div>
  
</section>
 <script>
 var productOptions = [];
  {% for option in product.options %}
   var optionObj = {};
   optionObj[ {{ forloop.index0 }} ] = "{{ product.options[forloop.index0] }}";
   productOptions.push(optionObj);
  {% endfor %}
 </script>
<script>
    var selectCallback = function(variant, selector) {
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}

    $('.price-update').html(Shopify.formatMoney(variant.price, "{{shop.money_without_currency }}")); 
        if($('input[type=radio]:checked').val()){
           $('.product-slider').slick('slickGoTo', variant.featured_image.position-1);
         }
      };
  jQuery(function($) {
    new Shopify.OptionSelectors("product-select", { 
      product: {{ product | json }},
      history: true,
      onVariantSelected: selectCallback
    });
  });
      </script>
{% schema %}

{
"name": "Product pages",
"settings": [
   {
         "type":"checkbox",
        "id":"enable_po",
        "label":"Enable Product Overview?"
    },
    {
         "type":"checkbox",
        "id":"enable_re",
        "label":"Enable Product Reviews?"
    },
    {
         "type":"checkbox",
        "id":"enable_qa",
        "label":"Enable QA?"
    },
    {
    "type": "header",
    "content": "Product Detail"
  },
    {
      "type": "image_picker",
      "id": "support_img_1",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "txt_head1",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "txt_des1",
      "label": "description"
    },
    {
      "type": "image_picker",
      "id": "support_img_2",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "txt_head2",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "txt_des2",
      "label": "description"
    },
    {
         "type":"checkbox",
        "id":"enable_qap",
        "label":"Enable Questions About This Product?"
    }
]
}
{% endschema %}