.about {
    .rugs-font--body2 {
        margin-bottom: 54px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 18px;
    }
        .rugs-color--grey5 {
            font-size: 20px;
            font-style: italic;
            letter-spacing: 0;
            line-height: 26px;
            color: #636471;
        }
    h4 {
        margin-bottom: 30px;
    }

    img {
        max-width: 100%;
    }
}