.return {
    .nav-tabs {
        .nav-item {
            .active {
                color: #000;
                font-weight: 500;
                background-color: #fff;
            }
        }
    }
p{
    text-align: left;
}
    .tab-content {
        padding-top: 50px;
    }
    .QuestionFont{
        color: #000;
        font-weight: 700;
        font-size: 14px;
    }
    .AnswerFont{
        color: #333;
        font-weight: 400;
        font-size: 12px;
    }
    .labelWidth5{
        width: 160px;
        text-align: left;
        background-color: #fff;
        border-left: 0;
        border-top: 0;
        border-bottom: 0;
        font-family: Roboto,proxima-nova,sans-serif;
        font-size: 15px;
        line-height: 19px;
        padding: 6px 12px;
        vertical-align: top;
    }
    .RugsUSAInputTextBox {
        padding: 10px; 
        border-radius: 0;
        height: 40px;
        border: #aaa solid 1px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        font-family: Roboto,proxima-nova,sans-serif;
        background-color: rgba(202,202,202,.15);
    }
    .rowFAQSeperator3{
        .skipLabelWidth5{
            margin-left: 160px !important;
            width: 150px ;
            
        }
        .btn-default{
            background-color: #f33;
            color: #fff!important;
            background-image: none;
            border-radius: 0;
            border: 0;
            padding: 8px 24px;
            margin: 8px;
        }
    }
}