.how-to {
    h3 {
        font-family: "Calibre Medium";
        color: $mossgreen;
        font-weight: 500;
    }
    .image-wrapper {
        position: relative;
        overflow: hidden;
        margin: auto;
        &:before {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            object-fit: cover;
            object-position: center;
            margin: auto;
        }
    }
}