.policy {
    .pp_box {
        padding: 20px;
        background: #fff;
        border-radius: 3px;
        margin: 20px 0;

        p {
            font-size: 16px;
        }

        header {
            font-weight: 500;
            color: #102542;
            margin-bottom: 20px;
            font-size: 18px;
        }
    }

}